<%= bootstrap_form_for @pool, layout: :inline do |f| %>

    <table class="table table-striped" style="width: 100%;">
      <tbody>
          <tr>
            <td colspan="3">
            League
            <%= f.collection_select :league_id,
                                    League.all,
                                    :id,
                                    :name,
                                    {hide_label: true}%>
          </td>
          </tr>
        <tr>
          <td>
            Name
            <%= f.text_field :name, hide_label: true %>
          </td>
          <td>
            Number of Tickets
            <%= f.number_field :number_of_tickets, hide_label: true %>
          </td>
          <td>
            Max User Credit
            <%= f.number_field :max_user_credit, hide_label: true %>
          </td>
        </tr>
        <tr>
          <td>
            Prize
            <%= f.number_field :prize, hide_label: true %>
          </td>
          <td>
            Cost
            <%= f.number_field :cost, hide_label: true %>
          </td>
          <% if @pool.new_record?%>
              <td>
                Number of Rounds
                <%= f.number_field :number_of_rounds, hide_label: true %>
              </td>
          <% else %>
              <td>
                Number of Rounds
                <p style="font-weight: bold; font-size: large"><%= @pool.rounds
                                                               .count %></p>
              </td>
          <% end %>
        </tr>
        <tr>
          <td>
            Start Date
            <%= f.date_select :start_date, hide_label: true %>
          </td>
          <td>
            End Date
            <%= f.date_select :end_date, hide_label: true %>
          </td>
          <td>
            Deadline
            <%= f.date_select :deadline, hide_label: true %>
          </td>
        </tr>
      </tbody>
    </table>

    <h2>Overview</h2>

    <table style="width: 100%">
      <tbody>
      <tr>
        <td>
          <%= f.text_area :overview, class: 'tinymce', hide_label: true, :rows => 40, :cols => 120 %>
        </td>
      </tr>
      </tbody>
    </table>

<br>
    <div class="actions">
    <span><%= f.submit 'Save Pool', class: "btn btn-danger"%></span>
  </div>

<br>



    <%= tinymce %>

<% end %>
