<!-- @brief Partial file for rendering pool model representation by jQuerry as
            as a response to an AJAX call (example: Pools link in the sidebar) or other views/layouts
     @param past_pool is local variable passed to the partial explicitly. When set to true,
            it means partial is to be styled as a past pool before being rendered
     @author Mehdi Mahmoudi
-->

<% if past_pool %>
    <tr>
      <td><%= pool.name %></td>
      <td><%= pool.prize %></td>
      <td><%= pool.cost %></td>
      <td><%= pool.rounds.count %></td>
      <td><%= pool.start_date %></td>
      <td><%= pool.deadline %></td>
      <td >
        <span class="glyphicon glyphicon-open pool-action-browse">
          Browse
        </span>
      </td>
    </tr>
<% else %>
    <tr>
      <td><%= pool.name %></td>
      <td><%= pool.prize %></td>
      <td><%= pool.cost %></td>
      <td><%= pool.rounds.count %></td>
      <td><%= pool.start_date %></td>
      <td><%= pool.deadline %></td>
      <td style="text-align: right" data-no-turbolink="true">
        <%= link_to 'Manage', manage_pool_path(pool)%>
        <span class="glyphicon glyphicon-dashboard pool-action-manage">
        </span>
        <br>
        <%= link_to 'Edit', edit_pool_path(pool)%>
        <span class="glyphicon glyphicon-pencil pool-action-edit">
        </span>
        <br>
        <%= link_to 'S&Rs', stat_recap_pool_path(pool)%>
        <span class="glyphicon glyphicon-stats pool-action-manage">
        </span>
        <br>
        <%= link_to 'Remove', pool_path(pool), method: :delete,
                    data:{confirm: "Are you sure you want to delete pool:  #{pool.name}?
This will also remove all rounds (#{pool.rounds.count} round(s)) and tickets (#{pool.tickets.count} ticket(s)) associated with this pool"} %>
        <span class="glyphicon glyphicon-trash pool-action-manage">
        </span>
      </td>
    </tr>
<% end %>



