/**
 * @brief Allows to process server sent HTML fragment in the browser's JS DOM environment
 */

// Fetch pools from server through the partial block and render them to the main content area
//$('#main').html(<table class="table table-striped"> <tbody>).append("<%= escape_javascript render(@pools) %>").append(</tbody> </table>);
$('#main').html("<%= escape_javascript render(@pools) %>");
