<h1>Pools Overview</h1>

<!-- Current Pools-->

<h2 id="active-pools-label">Active Pools</h2>

<% if @pools.where("DATE(?) BETWEEN start_date AND end_date", Date.today).empty? %>
    <div class="alert alert-info">No pools to display</div>
<% else %>

    <table class="table table-striped">
      <thead>
      <tr>
        <th>Name</th>
        <th>Prize</th>
        <th>Cost</th>
        <th>Number of rounds</th>
        <th>Start date</th>
        <th>Deadline</th>
        <th>Action</th>
      </tr>
      </thead>

      <tbody>
        <%= render @pools.where("DATE(?) BETWEEN start_date AND end_date", Date.today),
                   past_pool: false %>
      </tbody>
    </table>
<% end %>



<!-- Planned Pools -->

<h2 id="upcoming-pools-label">Upcoming Pools</h2>

<% if @pools.where("start_date > ?", Date.today).empty? %>
    <div class="alert alert-info">No pools to display</div>
<% else %>
    <table class="table table-striped">
      <thead>
      <tr>
        <th>Name</th>
        <th>Prize</th>
        <th>Cost</th>
        <th>Number of rounds</th>
        <th>Start date</th>
        <th>Deadline</th>
        <th>Action</th>
      </tr>
      </thead>

      <tbody>
        <%= render @pools.where("start_date > ?", Date.today), past_pool: false %>
      </tbody>
    </table>
<% end %>

<!-- Past Pools -->
<h2 id="past-pools-label">Past Pools</h2>

<% if @pools.where("end_date < ?", Date.today).empty? %>
    <div class="alert alert-info">No pools to display</div>
<% else %>
    <table class="table table-striped">
      <thead>
      <tr>
        <th>Name</th>
        <th>Prize</th>
        <th>Cost</th>
        <th>Number of rounds</th>
        <th>Start date</th>
        <th>Deadline</th>
        <th>Action</th>
      </tr>
      </thead>

      <tbody>
        <%= render @pools.where("end_date < ?", Date.today), past_pool: true %>
      </tbody>
    </table>
<% end %>



<br>


<%= button_to 'Create Pool', new_pool_url, class:"btn btn-primary", type:"button", method: :get %>

<br>