<h1><%= @pool.name %></h1>

<h2 id="remaining-tickets-label">Remaining Tickets</h2>
<table class="table table-striped">
  <thead>
  <tr>
    <th>Username</th>
    <th>Email</th>
    <th>Ticket Value</th>
    <th>Ticket #</th>
    <th>Date of Sale</th>
    <th>Validity</th>
  </tr>
  </thead>

  <tbody>
  <% @pool.tickets.each do |ticket| %>
      <tr>
        <td><%= ticket.user.username %></td>
        <td><%= ticket.user.email %></td>
        <td><%= ticket.value %></td>
        <td><%= ticket.user.tickets.index(ticket) + 1%></td>
        <td><%= ticket.date_of_sale %></td>
        <td><%= ticket.validity ? 'Valid' : 'Expired' %></td>
      </tr>
  <% end %>
  </tbody>
</table>

<div style="float: right">
  <%= button_to (@pool.display_stat ? 'Hide Stats' : 'Display Stats'),
                display_stat_pool_path(@pool), class: (@pool.display_stat ? "btn btn-info" : "btn btn-success") %>
</div>

<h2 id="rounds-label">Rounds</h2>
<table class="table round-panel">
  <tbody>
  <% @pool.rounds.order(:with_games, :start_date).each do |round| %>
  <tr>
    <td>
      <%= render round, render_history: false %>
    </td>
  </tr>
  <% end %>
  </tbody>
</table>

<span class="pool-action-add-round">
  <%= link_to 'Add Rounds to Pool',
                new_round_path(with_games: true),
                class:"btn btn-danger",
                type:"button"%>
</span>

<span class="pool-action-add-round">
  <%= link_to 'Add Qualifications to Pool',
              new_round_path(with_games: false),
              class:"btn btn-info",
              type:"button"%>
</span>

