<p>
  <strong>Name:</strong>
  <%= @pool.name %>
</p>

<p>
  <strong>Prize:</strong>
  <%= @pool.prize %>
</p>

<p>
  <strong>Cost:</strong>
  <%= @pool.cost %>
</p>

<p>
  <strong>Number of rounds:</strong>
  <%= @pool.number_of_rounds %>
</p>

<p>
  <strong>Start date:</strong>
  <%= @pool.start_date %>
</p>

<p>
  <strong>Deadline:</strong>
  <%= @pool.deadline %>
</p>

<p>
  <strong>Overview:</strong>
  <%= @pool.overview %>
</p>

<%= link_to 'Edit', edit_pool_path(@pool) %> |
<%= link_to 'Back', pools_path %>
