<%= bootstrap_form_for @pool, layout: :inline do |f| %>

    <h1>Stats and Recaps</h1>

    <h2>Pool Statistics</h2>

    <h2>Recap</h2>

    <%= f.text_area :recap, class: 'tinymce', :rows => 40, :cols => 120, hide_label: true %>

    <div class="actions" style="margin-top: 2%">
      <span><%= f.submit 'Save Report', class: "btn btn-danger"%></span>
    </div>

    <br>

    <%= tinymce %>
<% end %>