<%= bootstrap_form_for(@team) do |f| %>
    <div class="field">
      <%= f.collection_select :league_id,
                              League.all,
                              :id,
                              :name,
                              {hide_label: true}%>
    </div>
    <div class="field">
    <%= f.text_field :name%>
  </div>
  <div class="actions">
    <%= f.submit 'Save Team', class: "btn btn-danger" %>
  </div>
<% end %>
