<h1>System Teams</h1>

<% League.all.each do |league| %>
    <h2><%= league.name %></h2>
    <table class="table table-striped">
      <thead>
      <tr>
        <th>Team Name</th>
        <th>Associated Pools</th>
        <th>Current Round #</th>
      </tr>
      </thead>

      <tbody>
      <% league.teams.each do |team| %>
          <tr>
            <td><%= link_to team.name, team_path(team) %></td>
            <td> - </td>
            <td> - </td>
          </tr>
      <% end %>
      </tbody>
    </table>
<% end %>



<br>
<%= link_to 'New Team', new_team_path, class: "btn btn-danger" %>
<br>
