
<h1>Pools</h1>
<table id="tableOfPools" width="85%" style="text-align: center; margin: 0 auto;">
  <thead>
  <tr>
    <th style="width: 55%" colspan="2"> Contest</th>
    <th style="width: 10%"> Prize</th>
    <th style="width: 10%"> Cost</th>
    <th style="width: 30%"> Starts on</th>
  </tr>
  </thead>
  <tbody id="">
 <% @pools.each do |pool| %>

      <% if pool.league.sport.name == "Football"%>
          <tr>
            <td><%= image_tag("frontend/FootAM1.png") %></td>
            <td><%= link_to pool.name, dashboard_overview_path(upcoming_pool: pool.id) %></td>
            <td>$<%= pool.prize %></td>
            <td>$<%= pool.cost %></td>
            <td><%= pool.start_date %></td>
          </tr>
      <% elsif pool.league.sport.name == "Hockey"%>
          <tr>
            <td><%= image_tag("frontend/Hockey1.png") %></td>
            <td><%= link_to pool.name, dashboard_overview_path(upcoming_pool: pool.id) %></td>
            <td>$<%= pool.prize %></td>
            <td>$<%= pool.cost %></td>
            <td><%= pool.start_date %></td>
          </tr>
      <% elsif pool.league.sport.name == "Basketball"%>
          <tr>
            <td><%= image_tag("frontend/Basket1.png") %></td>
            <td><%= link_to pool.name, dashboard_overview_path(upcoming_pool: pool.id) %></td>
            <td>$<%= pool.prize %></td>
            <td>$<%= pool.cost %></td>
            <td><%= pool.start_date %></td>
          </tr>
      <% elsif pool.league.sport.name == "Soccer"%>
          <tr>
            <td><%= image_tag("frontend/FootBall1.png") %></td>
            <td><%= link_to pool.name, dashboard_overview_path(upcoming_pool: pool.id) %></td>
            <td>$<%= pool.prize %></td>
            <td>$<%= pool.cost %></td>
            <td><%= pool.start_date %></td>
          </tr>
      <%end%>

  <% end %>
  </tbody>


</table>
