<h1>My Pools</h1>

<% unless @my_pools.blank? %>
    <div class="contentpools" style="margin-top: 2%">
      <!--------Mypools dropdow select --------------->
      <div style="margin: 1% 1% 1% 7%;float: left;">
        <label for="myPools">My pools</label>
        <%= select_tag "pools",
                       options_from_collection_for_select(@my_pools, :id, :name,
                                                          session[:selected_pool]),
                       onchange: 'handle_selection("pools", "my_pools", this)',
                       :id=>"myPools" %>
      </div>
      <!--------End mypools dropdown select --------------->

      <!--------My tickets dropdow select --------------->
      <div style="margin:1%;">
        <label for="myTickets">My Tickets</label>
        <%=select_tag "tickets",
                      options_for_select(@my_tickets.keys, session[:selected_ticket_index]),
                      onchange: 'handle_selection("tickets","my_pools", this)',
                      :id=>"myTickets" %>
      </div>
      <!--------End My tickets dropdow select --------------->
    </div>
<% end %>

<nav id="poolnav">
  <ul id="subMenuPool">

    <li><%= link_to 'Overview', dashboard_overview_path%></li>
    <li><%= link_to 'My Picks', dashboard_my_pools_path%></a></li>
    <li><%= link_to 'Schedule', dashboard_schedule_path%></li>
    <li class="last"><%= link_to 'Stats & Recap', dashboard_stat_recap_path%></li>
  </ul>
</nav>

<!----------------------------------- Safari or Firefox --------------------------------------------------------------->

<% if  @browser.safari? || @browser.firefox? %>


    <div class="contentpools" style="height: 400px">


      <div style="max-height: 600px; width: 99%;margin: 3% auto 4%;">

        <% if @my_pools.nil? %>
            <div id="scheduleWeek">
              You are not registered to any pools yet
            </div>
        <% else %>
            <% if @active_ticket.validity %>
                <!-------- Round number and title ------->
                <% if @current_round.nil? %>
                    <div id="scheduleWeek">
                      This pool has no rounds yet
                    </div>
                <% else %>
                    <div id="scheduleWeek">
                      <% if @active_pool.rounds.order(:start_date).last == @current_round %>
                          <span style="font-weight: bold; text-decoration: underline">Active Round</span>: <%= @current_round.name %>
                      <% else %>
                          <%= @current_round.name %>
                      <% end %>

                    </div>
                    <!--------End Round number and title ------->

                    <div id="PoolsWeekBloc" style="width: 100%;">

                      <!-------- Rounds table table  ------->
                      <table id="PoolsWeek">
                        <tbody>
                        <tr>
                          <% @active_pool.rounds.order(:start_date).each_with_index do |round, index| %>
                              <% if round == @current_round %>
                                  <td id="week_1" style="background: #f26522; color: white;">
                                    <%= link_to "#{round.name}",
                                                controller: :dashboard,
                                                action: :current_round,
                                                id: index,
                                                class: "myPoolsWeek" %>
                                  </td>
                              <%  else %>
                                  <td id="week_1">
                                    <%= link_to "#{round.name}",
                                                controller: :dashboard,
                                                action: :current_round,
                                                id: index,
                                                class: "myPoolsWeek" %>
                                  </td>
                              <% end %>
                          <% end %>
                        </tr>
                        </tbody>
                      </table>
                      <!-------- End Rounds table table  ------->

                      <% if @current_round.complete %>
                          <% if @active_ticket.picks.where(round_id: @current_round.id).blank? %>
                              <div id="scheduleWeek" style="height: 10%">
                                You did not pick any team before this round was closed. Please contact
                                the FLP team at <a style="color: #EF720C" href="mailto:info@fatladypools.com">info@fatladypools.com</a>
                              </div>
                          <% else %>
                              <% if @active_pool.rounds.order(:start_date).last == @current_round %>
                                  <div id="scheduleWeek" style="height: 10%">
                                    Congratulations! You won the <%= @active_pool.name %>!
                                    You will be contacted by Fat Lady Pools soon to receive your prize.
                                  </div>
                              <% else %>
                                  <div id="scheduleWeek" style="height: 10%">
                                    Congratulations! You passed this round. <%= @current_round.name %> is
                                    now closed. Please visit next rounds to manage your picks.
                                  </div>
                              <% end %>
                          <% end %>


                          <div style="max-height: 10vw; overflow: auto;">
                            <table style="margin: 0 auto; width: 100%; ">
                              <thead>
                              <tr>
                                <th></th>
                                <th>You picked</th>
                                <th>Past Picks</th>
                              </tr>
                              </thead>

                              <tbody>
                              <tr>
                                <td></td>
                                <td><%= @completed_round_pick %></td>
                                <% if @past_picks.nil? %>
                                    <td> - </td>
                                <% else %>
                                    <td>
                                      <% @past_picks.each do |pick| %>
                                          <%= Team.find(pick).name %>
                                          <br>
                                      <% end %>
                                    </td>
                                <% end %>

                              </tr>
                              </tbody>
                            </table>
                          </div>
                      <% else %>
                          <div id="scheduleWeek" style="margin-bottom: 2%;">
                            Please make sure you click the 'Confirm' button to confirm your pick for this round
                          </div>
                          <%= form_for :pick, url: {controller: :dashboard, action: :save_pick} do |p| %>
                              <!-------- Picks Management Section  ------>
                              <div style="max-height: 60vh; overflow: auto;">

                                <table style="margin: 0 auto; width: 100%;">
                                  <thead>

                                  <tr>
                                    <th><%= p.submit 'Confirm',
                                                     class: "btn btn-warning",
                                                     disabled: DateTime.current >= @current_round.deadline,
                                                     data:{confirm: 'Pick this team?'} %></th>
                                    <th>Pick a team</th>
                                    <th>Past Picks</th>
                                  </tr>

                                  </thead>

                                  <tbody>

                                  <% @possible_picks.each_with_index do |team, index| %>
                                      <tr>
                                        <td><%= radio_button_tag "ticket_picks",
                                                                 index,
                                                                 (index==@current_pick_index),
                                                                 disabled: DateTime.current >= @current_round.deadline %></td>
                                        <td style="<%= (index==@current_pick_index) ? "background: rgba(248, 174, 125, 1)" : ""%>">
                                          <div style="float: left; height: 100%; margin-left: 4%">
                                            <%= flags_list 32 do  %>
                                                <%= flag(Team.find_by(id: team).flag_code.downcase) %>
                                            <% end %>
                                          </div>
                                          <div style="float: right; height: 100%; width: 80%; line-height: 4em;">
                                            <%= Team.find_by(id: team).name %>
                                          </div>
                                        </td>
                                        <% if index == 0 %>
                                            <% if @past_picks.nil? %>
                                                <td rowspan="#{<%= @possible_picks.count %>}"
                                                    style="text-align: center"> - </td>
                                            <% else %>
                                                <td rowspan="#{<%= @possible_picks.count %>}"
                                                    style="text-align: center; vertical-align: bottom;">
                                                  <% @past_picks.each do |pick| %>
                                                      <%= Team.find(pick).name %>
                                                      <br>
                                                  <% end %>
                                                </td>
                                            <% end %>
                                        <% end %>
                                      </tr>
                                  <% end %>
                                  </tbody>
                                </table>

                              </div>
                              <% if DateTime.current >= @current_round.deadline %>
                                  <div id="scheduleWeek" style="height: 10%; margin-top: 3%">
                                    You are past round deadline. You cannot pick teams anymore. Please contact
                                    the FLP team at <a style="color: #EF720C" href="mailto:info@fatladypools.com">info@fatladypools.com</a>
                                  </div>
                              <% end %>
                          <% end %>
                      <% end %>



                <% end %>




                </div>

            <% else %>
                <!------- Invalid Tickets -------->
                <div id="scheduleWeek">
                  This ticket is not valid anymore for this pool
                </div>
            <% end %>
        <% end %>

      </div>

    </div>




<!--------------------------------------------------------------------------------------------------------------------->






<!----------------------------------- Chrome and others --------------------------------------------------------------->
<% else %>

    <div class="contentpools" style="height: 400px">


      <!-- White background -->
      <div style="max-height: 600px;width: 99%;margin: 3% auto 4%;">

        <% if @my_pools.nil? %>
            <div id="scheduleWeek">
              You are not registered to any pools yet
            </div>
        <% else %>

            <% if @active_ticket.validity %>
                <!-------- Round number and title ------->
                <% if @current_round.nil? %>
                    <div id="scheduleWeek">
                      This pool has no rounds yet
                    </div>
                <% else %>
                    <div id="scheduleWeek">
                      <% if @active_pool.rounds.order(:start_date).last == @current_round %>
                          <span style="font-weight: bold; text-decoration: underline">Active Round</span>: <%= @current_round.name %>
                      <% else %>
                          <%= @current_round.name %>
                      <% end %>

                    </div>
                    <!--------End Round number and title ------->

                    <div id="PoolsWeekBloc" style="width: 100%;">

                      <!-------- Rounds table table  ------->
                      <table id="PoolsWeek">
                        <tbody>
                        <tr>
                          <% @active_pool.rounds.order(:start_date).each_with_index do |round, index| %>
                              <% if round == @current_round %>
                                  <td id="week_1" style="background: #f26522; color: white;">
                                    <%= link_to "#{round.name}",
                                                controller: :dashboard,
                                                action: :current_round,
                                                id: index,
                                                class: "myPoolsWeek" %>
                                  </td>
                              <%  else %>
                                  <td id="week_1">
                                    <%= link_to "#{round.name}",
                                                controller: :dashboard,
                                                action: :current_round,
                                                id: index,
                                                class: "myPoolsWeek" %>
                                  </td>
                              <% end %>
                          <% end %>
                        </tr>
                        </tbody>
                      </table>
                      <!-------- End Rounds table table  ------->

                      <% if @current_round.complete %>
                          <% if @active_ticket.picks.where(round_id: @current_round.id).blank? %>
                              <div id="scheduleWeek" style="height: 10%">
                                You did not pick any team before this round was closed. Please contact
                                the FLP team at <a style="color: #EF720C" href="mailto:info@fatladypools.com">info@fatladypools.com</a>
                              </div>
                          <% else %>
                              <% if @active_pool.rounds.order(:start_date).last == @current_round %>
                                  <div id="scheduleWeek" style="height: 10%">
                                    Congratulations! You won the <%= @active_pool.name %>!
                                    You will be contacted by Fat Lady Pools soon to receive your prize.
                                  </div>
                              <% else %>
                                  <div id="scheduleWeek" style="height: 10%">
                                    Congratulations! You passed this round. <%= @current_round.name %> is
                                    now closed. Please visit next rounds to manage your picks.
                                  </div>
                              <% end %>
                          <% end %>


                          <div style="max-height: 400px; overflow: auto;">
                            <table style="margin: 0 auto; width: 100%; ">
                              <thead>
                              <tr>
                                <th></th>
                                <th>You picked</th>
                                <th>Past Picks</th>
                              </tr>
                              </thead>

                              <tbody>
                              <tr>
                                <td></td>
                                <td><%= @completed_round_pick %></td>
                                <% if @past_picks.nil? %>
                                    <td> - </td>
                                <% else %>
                                    <td>
                                    <% @past_picks.each do |pick| %>
                                        <%= Team.find(pick).name %>
                                          <br>
                                    <% end %>
                                    </td>
                                <% end %>

                              </tr>
                              </tbody>
                            </table>
                          </div>
                      <% else %>

                          <div id="scheduleWeek" style="margin-bottom: 2%">
                            Please make sure you click the 'Confirm' button to confirm your pick for this round
                          </div>
                          <%= form_for :pick, url: {controller: :dashboard, action: :save_pick} do |p| %>
                              <!-------- Picks Management Section  ------>
                              <div style="max-height: 400px; overflow: auto;">
                                <% unless @current_round.nil? %>
                                <table style="margin: 0 auto; width: 100%;">
                                  <thead>

                                  <tr>

                                    <th><%= p.submit 'Confirm',
                                                     class: "btn btn-warning",
                                                     disabled: DateTime.current >= @current_round.deadline,
                                                     data:{confirm: 'Pick this team?'} %></th>
                                    <th>Pick a team</th>
                                    <th>Past Picks</th>
                                  </tr>

                                  </thead>

                                  <tbody>
                                  <% unless @current_round.nil? %>
                                      <% @possible_picks.each_with_index do |team, index| %>
                                          <tr>
                                            <td><%= radio_button_tag "ticket_picks",
                                                                     index,
                                                                     (index==@current_pick_index),
                                                                     disabled: DateTime.current >= @current_round.deadline %></td>
                                            <td style="<%= (index==@current_pick_index) ? "background: rgba(248, 174, 125, 1)" : ""%>">
                                              <div style="float: left; height: 100%; padding-top: 2%; margin-left: 4%">
                                              <%= flags_list 32 do  %>
                                                  <%= flag(Team.find_by(id: team).flag_code.downcase) %>
                                              <% end %>
                                              </div>
                                              <div style="float: right; height: 100%; width: 80%; line-height: 5em;">
                                                <%= Team.find_by(id: team).name %>
                                              </div>

                                            </td>
                                            <% if index == 0 %>
                                                <% if @past_picks.nil? %>
                                                    <td rowspan="#{<%= @possible_picks.count %>}"
                                                        style="text-align: center"> - </td>
                                                <% else %>
                                                    <td rowspan="#{<%= @possible_picks.count %>}"
                                                        style="text-align: center; vertical-align: bottom;">
                                                      <% @past_picks.each do |pick| %>
                                                          <%= Team.find(pick).name %>
                                                          <br>
                                                      <% end %>
                                                    </td>
                                                <% end %>
                                            <% end %>
                                          </tr>
                                      <% end %>
                                  <% end %>
                                  </tbody>
                                </table>
                                <% end %>
                              </div>
                              <% unless @current_round.nil? %>
                                  <% if DateTime.current >= @current_round.deadline %>
                                      <div id="scheduleWeek" style="height: 10%; margin-top: 5%">
                                        You are past round deadline. You cannot pick teams anymore. Please contact
                                        the FLP team at <a style="color: #EF720C" href="mailto:info@fatladypools.com">info@fatladypools.com</a>
                                      </div>
                                  <% end %>
                              <% end %>
                          <% end %>
                      <% end %>



                <% end %>




                </div>

            <% else %>
                <!------- Invalid Tickets -------->
                <div id="scheduleWeek">
                  This ticket is not valid anymore for this pool
                </div>
            <% end %>
        <% end %>

      </div>

    </div>

<% end %>


