<h1><%= @current_user.first_name %> <%= @current_user.last_name %></h1>
<h4 style="color: dodgerblue; margin-left: 2em"><%= link_to "Edit #{@current_user.username}", visitor_register_path(:render_edit => true) %></h4>
<br>
<h2 style="text-align: center;">Account Summary</h2>

<ul style="font-size: larger">
  <li style="font-weight: bold; margin-bottom: 2em;">Your current balance: $<%= @current_user.balance %></li>
  <li>Last deposit: $<%= @current_user.last_deposit%></li>
  <li>Member since: <%= @current_user.created_at %></li>
  <li>Last login: <%= @current_user.last_login %></li>
</ul>


  <h2 style="text-align: center;margin-top: 4%;">Tickets</h2>
  <div style="width: 100% ;padding-top: 1%; height: 650px;"  class="ticketsDiv">
    <table class="tableTickets"   width="95%"  style="text-align: center; margin: 0 auto;">

      <thead>
      <tr>
        <th>
          Tickets
        </th>
        <th style="width: 30%">
          Pools Name
        </th>
        <th style="width: 20%">
          Pools Deadline
        </th>
        <th style="width: 20%">
          Purchase Date
        </th>
        <th style="width: 10%">
          Validity
        </th>
        <th style="width: 10%">
          Value
        </th>
      </tr>
      </thead>
      <tbody id="DetailsOfAliveTickets">
        <% @current_user.tickets.each do |ticket| %>
          <tr>
            <td>TK<%= ticket.id %></td>
            <td><%= ticket.pool.name %></td>
            <td><%= ticket.pool.deadline %></td>
            <td><%= ticket.date_of_sale %></td>
            <td>
              <% if ticket.validity %>
                <span style="color: green">Valid</span>
              <% else %>
                  <span style="color: darkred">Expired</span>
              <% end %>
            </td>
            <td> $<%= ticket.value %></td>
          </tr>
        <%end%>
        <tr><td colspan='5' style='background-color: #ffffff;box-shadow: none;'>TOTAL</td> <td> $<%= total_ticket %></td></tr>
      </tbody>
    </table>
  </div>
