<h1>Overview</h1>

<% unless @pools.blank? %>

    <div class="contentpools" style="margin-top: 2%">
      <!--------Mypools dropdow select --------------->
      <div style="margin: 0 auto;">
        <label for="myPools">All pools</label>
        <%= select_tag "pools",
                       options_from_collection_for_select(@pools, :id, :name,
                                                          session[:selected_pool]),
                       onchange: 'handle_selection("pools", "overview", this)',
                       :id=>"myPools" %>
      </div>
      <!--------End mypools dropdown select --------------->
    </div>

<% end %>


<nav id="poolnav">
  <ul id="subMenuPool">

    <li><%= link_to 'Overview', dashboard_overview_path%></li>
    <li><%= link_to 'My Picks', dashboard_my_pools_path%></a></li>
    <li><%= link_to 'Schedule', dashboard_schedule_path%></li>
    <li class="last"><%= link_to 'Stats & Recap', dashboard_stat_recap_path %></li>
  </ul>
</nav>

<% if @active_pool %>

    <div style="margin-top: 10%; text-align: center">
      <% if (@current_user.balance < 0) && ((-@current_user.balance) >= @active_pool.max_user_credit) %>
          <div id="scheduleWeek" style="height: 10%; width: 70%; margin: 0 auto; text-align: center;">
            Sorry. You have exceeded your maximum allowed credit limit. Please contact us at
            <a style="color: #EF720C" href="mailto:info@fatladypools.com">info@fatladypools.com</a> for more details.
          </div>
      <% elsif @active_pool.tickets.count >= @active_pool.number_of_tickets%>
          <div id="scheduleWeek" style="height: 10%; width: 70%; margin: 0 auto; text-align: center;">
            This pool is soldout.
          </div>
      <% elsif @active_pool.deadline <= DateTime.current || @active_pool.start_date <= DateTime.current %>
          <div id="scheduleWeek" style="height: 10%; width: 70%; margin: 0 auto; text-align: center;">
            You are beyond deadline for registering to this pool. You can still follow pool schedule, stats and recap.
          </div>
      <% else %>
          <div style="text-align: center">
            <%= button_to 'Buy ticket', dashboard_register_ticket_path, class:"btn btn-danger", style:"height: 5em; width: 10em; font-size: 18px;",
                          data:{confirm: "Are you sure you want to buy this ticket? This will take $#{@active_pool.cost} from your balance."} %>
          </div>
      <% end %>

    </div>
<% end %>

<% if @browser.safari? || @browser.firefox? %>

    <div id="overviewArea">
      <% if @active_pool %>

          <%=raw @active_pool.overview %>

      <% end %>

    </div>

<% else %>
    <div id="overviewArea">
      <% if @active_pool %>

          <%=raw @active_pool.overview %>

      <% end %>

    </div>
<% end %>
