<h1>Schedule</h1>

<% unless @my_pools.blank? %>

    <div class="contentpools" style="margin-top: 2%">
      <!--------Mypools dropdown select --------------->
      <div style="margin: 0 auto;">
        <label for="myPools">My pools</label>
        <%= select_tag "pools",
                       options_from_collection_for_select(@my_pools, :id, :name,
                                                          session[:selected_pool]),
                       onchange: 'handle_selection("pools", "schedule", this)',
                       :id=>"myPools" %>
      </div>
      <!--------End mypools dropdow select --------------->
    </div>

<% end %>

<nav id="poolnav">
  <ul id="subMenuPool">

    <li><%= link_to 'Overview', dashboard_overview_path%></li>
    <li><%= link_to 'My Picks', dashboard_my_pools_path%></a></li>
    <li><%= link_to 'Schedule', dashboard_schedule_path%></li>
    <li class="last"><%= link_to 'Stats & Recap', dashboard_stat_recap_path%></li>
  </ul>
</nav>

<div class="contentpools">
  <div id="scheduleWeek">
    For more details, follow the official
    <a href="http://fifa.com/worldcup/matches/index.html#" target="_blank" style="color: #f1592a">FIFA Schedule and Results page</a>
  </div>
</div>

<div class="contentpools" style="max-height: 400px;">

  <% if @my_pools.nil? %>
      <div id="scheduleWeek">
        You are not registered to any pools yet
      </div>
  <% else %>

      <div style="min-height: 100%;width: 99%;margin: 3% auto 4%;">


            <!-------- Round number and title ------->
            <% if @current_round.nil? %>
                <div id="scheduleWeek">
                  This pool has no rounds yet
                </div>
            <% else %>
                <div id="scheduleWeek">
                  <% if @active_pool.rounds.order(:start_date).last == @current_round %>
                      <% if @current_round.complete %>
                          <span style="font-weight: bold; text-decoration: underline;">Active Round Summary:</span> <%= @current_round.name %>
                      <% else %>
                          <span style="font-weight: bold; text-decoration: underline;">Active Round Schedule:</span> <%= @current_round.name %>
                      <% end %>
                  <% else %>
                      <% if @current_round.complete %>
                          Result Summary - <%= @current_round.name %>
                      <% else %>
                          Schedule - <%= @current_round.name %>
                      <% end %>
                  <% end %>


                </div>
                <!--------End Round number and title ------->

                <!-------- Games table  ------->
                <div style="max-height: 300px; overflow-y: auto;">
                  <table id="TabWeek">
                    <thead>
                    <% if @current_round.with_games %>
                        <tr class="border">
                          <td>
                            Team 1
                          </td>
                          <td>
                            Team 2
                          </td>
                          <td>
                            Result
                          </td>
                        </tr>
                        </thead>
                        <tbody id="matchesSchedule">
                        <% @current_round.games.each do |game| %>
                            <tr class='border'>
                              <td><%= Team.find_by(id: game.first_team_id).name %></td>
                              <td><%= Team.find_by(id: game.second_team_id).name %></td>
                              <td>
                                <% if @current_round.complete %>
                                    <%= game.first_team_score %> - <%= game.second_team_score %>
                                <% else %>
                                    N/A - N/A
                                <% end %>
                              </td>
                            </tr>
                        <% end %>
                        </tbody>
                        <tfoot style="background: grey;min-height: 2em;">
                        </tfoot>
                        </table>

                    <% else %>
                        <table style="width:100%; " id="TabWeek">
                          <thead>
                          <tr class="border">
                            <td>
                              Team
                            </td>
                            <td>
                              Outcome
                            </td>
                          </tr>
                          </thead>
                          <tbody id="matchesSchedule">
                          <% @current_round.games.each do |game| %>
                              <tr class='border'>
                                <td><%= Team.find_by(id: game.first_team_id).name %></td>
                                <td>
                                  <% if @current_round.complete %>
                                      <% if game.first_team_id == game.winner_id  %>
                                          Advances
                                      <% else %>
                                          Eliminated
                                      <% end %>
                                  <% else %>
                                      N/A
                                  <% end %>
                                </td>
                              </tr>
                          <% end %>
                          </tbody>
                          <tfoot style="background: grey;min-height: 2em;">
                          </tfoot>
                        </table>
                    <% end %>
                    </div>

                <!-------- End Games table  ------->
                </div>

                <div id="PoolsWeekBloc" style="width: 100%;">

                  <!-------- Rounds table table  ------->
                  <table id="PoolsWeek">
                    <tbody>
                    <tr>
                      <% @active_pool.rounds.order(:start_date).each_with_index do |round, index| %>
                          <% if @current_round == round %>
                              <td id="week_1" style="background: #f26522;">
                                <%= link_to "#{round.name}",
                                            controller: :dashboard,
                                            action: :current_round,
                                            id: index,
                                            current_view: "schedule",
                                            class: "myPoolsWeek" %>
                              </td>
                          <% else %>
                              <td id="week_1">
                                <%= link_to "#{round.name}",
                                            controller: :dashboard,
                                            action: :current_round,
                                            id: index,
                                            current_view: "schedule",
                                            class: "myPoolsWeek" %>
                              </td>
                          <% end %>

                      <% end %>
                    </tr>
                    </tbody>
                  </table>
                  <!-------- End Rounds table table  ------->

                  <% if @current_round.complete %>
                      <div id="scheduleWeek">
                        This round is closed.
                      </div>
                  <% end %>

            <% end %>




        </div>
  <% end %>


</div>