<h1>Stats & Recap</h1>

<% unless @pools.blank? %>

    <div class="contentpools" style="margin-top: 2%">
      <!-------- All pools  --------------->
      <div style="margin: 0 auto;">
        <label for="myPools">All Pools</label>
        <%= select_tag "pools",
                       options_from_collection_for_select(@pools, :id, :name,
                                                          session[:selected_pool]),
                       onchange: 'handle_selection("pools", "stat_recap", this)',
                       :id=>"myPools" %>
      </div>
      <!--------End mypools dropdow select --------------->
    </div>
<% end %>

<nav id="poolnav">
  <ul id="subMenuPool">

    <li><%= link_to 'Overview', dashboard_overview_path%></li>
    <li><%= link_to 'My Picks', dashboard_my_pools_path%></a></li>
    <li><%= link_to 'Schedule', dashboard_schedule_path%></li>
    <li class="last"><%= link_to 'Stats & Recap', dashboard_stat_recap_path%></li>
  </ul>
</nav>



<div style="display: table; width: 80%; text-align: center; margin-left: 25%; margin-top: 10%;">
  <span style="display: table-cell; text-align: left;">
    <%= link_to 'Recap', dashboard_stat_recap_path(:display_report => 'recap'),
                class: "btn btn-warning",
                style: "width: 7em; font-size: big; text-decoration: none" %>
  </span>


  <span style="display: table-cell; text-align: left;">
    <%= link_to 'Alive Tickets', dashboard_stat_recap_path(:display_report => 'stat'),
                class: "btn btn-warning",
                style: "width: 7em; font-size: big; text-decoration: none" %>
  </span>
</div>

<% if @display_report == "recap" %>

    <h2 style="margin-left: 5%">Recap</h2>
    <% if @browser.safari? || @browser.firefox? %>
        <div style="overflow: auto; margin-top: 0; margin-left: 5%;
                margin-right: 5%; margin-bottom: 2%; max-height: 500px;
                border-style: solid; padding: 1%;">

          <!--  Display an error message in case pool has no rounds or no pools are selected -->
          <% if @active_pool.nil? %>
              <div id="scheduleWeek" style="text-align: center">
                Please select a pool
              </div>
          <% else %>
              <div style="min-height: 100%;width: 99%;margin: 3% auto 4%;">
                <!-------- Display a notification message in case pool has no rounds ------->
                <% if @active_pool.rounds.blank? %>
                    <div id="scheduleWeek" style="text-align: center">
                      This pool has no rounds yet
                    </div>
                <% else %>

                <% end %>
              </div>
              <!-- Render text -->
              <%=raw @active_pool.recap %>
              <iframe src="https://docs.google.com/spreadsheets/d/1uqgMz8NpS-GuNJMn2sVcAbaVtzMC4ARVKb3uLnYylbw/pubhtml?widget=true&amp;headers=false" style="min-width: 100%; min-height: 100%"></iframe>

          <% end %>
        </div>
    <% else %>
        <div style="overflow: auto; margin-top: 0; margin-left: 5%;
                margin-right: 5%; margin-bottom: 2%; max-height: 500px;
                border-style: solid; padding: 1%;">

          <!--  Display an error message in case pool has no rounds or no pools are selected -->
          <% if @active_pool.nil? %>
              <div id="scheduleWeek" style="text-align: center">
                Please select a pool
              </div>
          <% else %>
              <div style="min-height: 100%;width: 99%;margin: 3% auto 4%;">
                <!-------- Display a notification message in case pool has no rounds ------->
                <% if @active_pool.rounds.blank? %>
                    <div id="scheduleWeek" style="text-align: center">
                      This pool has no rounds yet
                    </div>
                <% else %>

                <% end %>
              </div>
              <!-- Render text -->
              <%=raw @active_pool.recap %>
              <iframe src="https://docs.google.com/spreadsheets/d/1uqgMz8NpS-GuNJMn2sVcAbaVtzMC4ARVKb3uLnYylbw/pubhtml?widget=true&amp;headers=false" style="min-width: 100%; min-height: 100%"></iframe>
        <% end %>



        </div>
     <% end %>



<% elsif @display_report == "stat" %>
    <h2 style="margin-left: 5%">Stats</h2>
    <% if @browser.safari? ||  @browser.firefox? %>
        <div style="overflow: auto; margin-top: 0; margin-left: 5%;
                margin-right: 5%; margin-bottom: 2%; max-height: 500px;
                border-style: solid; padding: 1%;">

          <!--  Display an error message in case pool has no rounds or no pools are selected -->
          <% if @active_pool.nil? %>
              <div id="scheduleWeek" style="text-align: center">
                Please select a pool
              </div>
          <% else %>
              <div style="min-height: 100%;width: 99%;margin: 3% auto 4%;">
                <!-------- Display a notification message in case pool has no rounds ------->
                <% if @active_pool.rounds.blank? %>
                    <div id="scheduleWeek" style="text-align: center">
                      This pool has no rounds yet
                    </div>
                <% else %>

                <% end %>
              </div>

              <!-- Generate stat table -->

              <% if @teams_in_pool.blank? || !@active_pool.display_stat  %>
                  <div id="scheduleWeek" style="text-align: center">
                    The statistics report for this pool is not ready yet
                  </div>
              <% else %>

                  <table style="text-align: center; margin: 0 auto; width: 80%;">
                    <thead>
                    <tr>
                      <th>Status</th>
                      <th>Ticket Name</th>
                      <% @active_pool.rounds.each do |round| %>
                          <% if round.display_stat %>
                              <th><%= round.name %></th>
                          <% end %>
                      <% end %>
                    </tr>
                    </thead>
                    <tbody>
                    <% @active_pool.tickets.each do |ticket| %>
                        <% if ticket.validity %>
                            <tr>
                              <td><%= ticket.validity ? 'Alive' : 'Lost' %></td>
                              <td><%= ticket.user.username %></td>
                              <% @active_pool.rounds.each do |round| %>
                                  <% if round.display_stat %>
                                      <% if Pick.where(ticket: ticket, round: round).any? %>
                                          <td> <%=  Pick.where(ticket: ticket, round: round).first.team.name %></td>
                                      <% else %>
                                          <td>-</td>
                                      <% end %>
                                  <% end %>
                              <% end %>
                            </tr>
                        <% end %>
                    <% end %>
                    </tbody>
                  </table>
              <% end %>

          <% end %>

        </div>
    <% else %>
        <div style="overflow: auto; margin-top: 0; margin-left: 5%;
                margin-right: 5%; margin-bottom: 2%; max-height: 500px;
                border-style: solid; padding: 1%;">

          <!--  Display an error message in case pool has no rounds or no pools are selected -->
          <% if @active_pool.nil? %>
              <div id="scheduleWeek" style="text-align: center">
                Please select a pool
              </div>
          <% else %>
              <div style="min-height: 100%;width: 99%;margin: 3% auto 4%;">
                <!-------- Display a notification message in case pool has no rounds ------->
                <% if @active_pool.rounds.blank? %>
                    <div id="scheduleWeek" style="text-align: center">
                      This pool has no rounds yet
                    </div>
                <% else %>

                <% end %>
              </div>

              <!-- Generate stat table -->

              <% if @teams_in_pool.blank? ||
                      !@active_pool.display_stat || @active_pool.rounds.where(display_stat: true).empty? %>
                  <div id="scheduleWeek" style="text-align: center">
                    The statistics report for this pool is not ready yet
                  </div>
              <% else %>

                  <table style="text-align: center; margin: 0 auto; width: 95%;">
                    <thead>
                    <tr>
                      <th>Status</th>
                      <th>Ticket Name</th>
                      <% @active_pool.rounds.each do |round| %>
                          <% if round.display_stat %>
                              <th><%= round.name %></th>
                          <% end %>
                      <% end %>
                    </tr>
                    </thead>
                    <tbody>
                    <% @active_pool.tickets.each do |ticket| %>
                        <% if ticket.validity %>
                            <tr>
                              <td><%= ticket.validity ? 'Alive' : 'Lost' %></td>
                              <td><%= ticket.user.username %></td>
                              <% @active_pool.rounds.each do |round| %>
                                  <% if round.display_stat %>
                                      <% if Pick.where(ticket: ticket, round: round).any? %>
                                          <td> <%=  Pick.where(ticket: ticket, round: round).first.team.name %></td>
                                      <% else %>
                                          <td>-</td>
                                      <% end %>
                                  <% end %>
                              <% end %>
                            </tr>
                        <% end %>
                    <% end %>
                    </tbody>
                  </table>
              <% end %>

          <% end %>

        </div>
    <% end %>

<% end %>