<h2 style="color: green; text-align: center; margin-top: 10%"> Welcome to <%= @active_pool.name %>! </h2>

<br>
<br>

<p style="font-size:  1.5em; margin-top: 5%; margin-left: 10%;"> You are now registered in <%= @purchased_ticket.pool.name %>. </p>

<% if @purchased_ticket.expiry_date == @active_pool.deadline %>
    <p style="font-size:  1.5em; margin: 5%"> Your ticket expires on: <%= @purchased_ticket.expiry_date %> </p>
    <p style="font-size:  1.5em; margin: 5%"> Please proceed to payment by contacting us before this date.
      In the mean time you can start picking teams for the next rounds in this pool. Enjoy!
    </p>
    <br>
    <p style="font-size:  1.5em; font-weight: bold; text-align: center"> Your current balance is: <%= @current_user.balance %> </p>
<% else %>
    <br>
    <p style="font-size:  1.5em; font-weight: bold; text-align: center"> Your current balance is: <%= @current_user.balance %> </p>
<% end %>

    <p style="text-align: right; margin-right: 40%; margin-top: 10%;">
      <%= link_to 'Manage Picks', dashboard_my_pools_path, class: "btn btn-warning",
                  style: "text-decoration: none; font-size: 1.5em;" %>
    </p>

<br>
<br>

<div id="scheduleWeek" style="height: 10%; width: 70%; margin-top: 20%;
        margin-left: auto; margin-right: auto; text-align: center; padding: 2%;">
  Please make sure to check you Spam folder in your mail client. If you find the ticket confirmation e-mail there,
  you should whitelist it as a non-Spam mail.
</div>
