
<h1>Upcoming Pools</h1>

<% if @future_pools.any? %>
    <table id="tableOfPools" width="90%" style="text-align: center; margin: 0 auto;">
      <thead>
      <tr>
        <th style="width: 40%" colspan="2"> Contest</th>
        <th style="width: 10%"> Prize</th>
        <th style="width: 10%"> Cost</th>
        <th style="width: 20%"> Starts on</th>
        <th style="width: 20%"> Deadline</th>
      </tr>
      </thead>
      <tbody id="">
      <% @future_pools.each do |pool| %>

          <% if pool.league.sport.name == "Football"%>
              <tr>
                <td><%= image_tag("frontend/FootAM1.png") %></td>
                <td><%= link_to pool.name, dashboard_overview_path(upcoming_pool: pool.id) %></td>
                <td>$<%= pool.prize %></td>
                <td>$<%= pool.cost %></td>
                <td><%= pool.start_date %></td>
                <td><%= pool.deadline %></td>
              </tr>
          <% elsif pool.league.sport.name == "Hockey"%>
              <tr>
                <td><%= image_tag("frontend/Hockey1.png") %></td>
                <td><%= link_to pool.name, dashboard_overview_path(upcoming_pool: pool.id) %></td>
                <td>$<%= pool.prize %></td>
                <td>$<%= pool.cost %></td>
                <td><%= pool.start_date %></td>
                <td><%= pool.deadline %></td>
              </tr>
          <% elsif pool.league.sport.name == "Basketball"%>
              <tr>
                <td><%= image_tag("frontend/Basket1.png") %></td>
                <td><%= link_to pool.name, dashboard_overview_path(upcoming_pool: pool.id)  %></td>
                <td>$<%= pool.prize %></td>
                <td>$<%= pool.cost %></td>
                <td><%= pool.start_date %></td>
                <td><%= pool.deadline %></td>
              </tr>
          <% elsif pool.league.sport.name == "Soccer"%>
              <tr>
                <td><%= image_tag("frontend/FootBall1.png") %></td>
                <td><%= link_to pool.name, dashboard_overview_path(upcoming_pool: pool.id) %></td>
                <td>$<%= pool.prize %></td>
                <td>$<%= pool.cost %></td>
                <td><%= pool.start_date %></td>
                <td><%= pool.deadline %></td>
              </tr>
          <%end%>

      <% end %>
      </tbody>
    </table>
<% else %>
    <div id="scheduleWeek" style="height: 10%; width: 70%; margin-top: 20%;
            margin-left: auto; margin-right: auto; text-align: center; padding: 2%;">
      There are no upcoming pools yet
    </div>
<% end %>

