<div class="content">
      <div class="AboutContent">

        <h1 style="color: #F1592D;">Mission </h1>
        <p>
          Fat Lady Pools is your destination of choice for all skill based sports pools. Whether your game is survivor, pick’em all, spread or other,
          we have the pool for you. Experience how a modest investment can change your life and, remember, it’s not over until the fat lady sings...
        </p>

        <h1 style="color: #F1592D;">Vision </h1>
        <ul>
          <li>Become the premier provider of skill based sports pools</li>
          <li>Offer a unique sports entertainment experience</li>
          <li>Provide a user friendly platform</li>
          <li>Expand the types of pools, sports and markets </li>
        </ul>

        <h1 style="color: #F1592D;">FLP blurb</h1>
        <p>
          What started out as a few friends vying to be the last
          man standing after a grueling season has evolved into highly skill based games where preparation, knowledge and foresight are the keys to success.
        </p>







        <div style="width: 60%;float: left;">
          <p>
            FLP is comprised of die-hard fans that want to share their love of sports with their clients.
            At FLP, we believe that life is good, that life with sports is great and that life with sports pools is perfect.
          </p>
          <p>
            We are privileged to count on a loyal fan base that pushes us to do better. In return we offer nail biting entertainment
            where a small investment can yield a huge payday and where the adage of “it’s not over until the fat lady sings” takes all its significance.
          </p>
          <p>
            We welcome comments, suggestions or criticism except when it comes to waist size!
          </p>
        </div>
        <%= image_tag("frontend/fatLadyLarge.png", :alt => "FLP ",:style=>"width: 40%;margin: 0 0 0 0%;") %>

      </div>

</div>