<div style="margin: 0 auto;
        width: 50%;
        height: 50%;
        border-style: solid;
        border-color: #EF720C;
        padding: 2%;
        text-align: center; margin-bottom: 10%; margin-top: 10%;">
  <h2 style="font-weight: bold">Admin Login</h2>
  <%= bootstrap_form_tag url:'visitor/check_admin_login', method: :post do |f| %>
    <br>
    <%= f.text_field :login, label: 'Login ID' %>
    <br>
    <%= f.password_field :password, label: 'Password' %>
    <br>
    <%= f.submit 'Login', class: "btn btn-warning" %>
  <% end %>
</div>