<% if @pools.count == 0 %>
    <div id="scheduleWeek" style="height: 10%">
      There are no pools to display at the current moment. Please check Fat Lady Pools back later.
    </div>
<% else %>
    <div class="content">
      <table class="table table-bordered" id="tab">
        <thead style="margin-bottom: 2%">
        <tr>
          <th></th>
          <th style="text-align: center">Current Contests</th>
          <th style="text-align: center">Prize</th>
          <th style="text-align: center">Cost</th>
          <th style="text-align: center">Starts on</th>
          <th style="text-align: center">Closed</th>

        </tr>
        </thead>
        <tbody>
        <!------get all Upcoming pools ---->



        <% @pools.each do |pool| %>
            <% if pool.league.sport.name == "Football"%>
                <tr>
                  <td style="text-align: center"><%= image_tag("frontend/FootAM.png") %></td>
                  <% if session[:user_id] %>
                      <td style="text-align: center">
                        <%= link_to pool.name, dashboard_overview_path(upcoming_pool: pool.id) %>
                      </td>
                  <% else %>
                      <td style="text-align: center">
                        <%= link_to pool.name, visitor_overview_path(id: pool.id) %>
                      </td>
                  <% end %>
                  <td style="text-align: center"><%= pool.name %></td>
                  <td style="text-align: center">$<%= pool.prize %></td>
                  <td style="text-align: center">$<%= pool.cost %></td>
                  <td style="text-align: center"><%= pool.start_date %></td>
                  <td style="text-align: center"><%= pool.number_of_tickets - pool.tickets.count %></td>
                </tr>
            <% elsif pool.league.sport.name == "Hockey"%>
                <tr>
                  <td style="text-align: center;"><%= image_tag("frontend/Hockey.png") %></td>
                  <% if session[:user_id] %>
                      <td style="text-align: center">
                        <%= link_to pool.name, dashboard_overview_path(upcoming_pool: pool.id) %>
                      </td>
                  <% else %>
                      <td style="text-align: center">
                        <%= link_to pool.name, visitor_overview_path(id: pool.id) %>
                      </td>
                  <% end %>
                  <td style="text-align: center;">$<%= pool.prize %></td>
                  <td style="text-align: center;">$<%= pool.cost %></td>
                  <td style="text-align: center;"><%= pool.start_date %></td>
                  <td style="text-align: center;"><%= pool.number_of_tickets - pool.tickets.count %></td>
                </tr>
            <% elsif pool.league.sport.name == "Basketball"%>
                <tr>
                  <td style="text-align: center;"><%= image_tag("frontend/Basket.png") %></td>
                  <% if session[:user_id] %>
                      <td style="text-align: center">
                        <%= link_to pool.name, dashboard_overview_path(upcoming_pool: pool.id) %>
                      </td>
                  <% else %>
                      <td style="text-align: center">
                        <%= link_to pool.name, visitor_overview_path(id: pool.id) %>
                      </td>
                  <% end %>
                  <td style="text-align: center;">$<%= pool.prize %></td>
                  <td style="text-align: center;">$<%= pool.cost %></td>
                  <td style="text-align: center;"><%= pool.start_date %></td>
                  <td style="text-align: center;"><%= pool.number_of_tickets - pool.tickets.count %></td>
                </tr>
            <% elsif pool.league.sport.name == "Soccer" %>
                <tr>
                  <td style="text-align: center"><%= image_tag("frontend/Foot.png") %></td>
                  <% if session[:user_id] %>
                      <td style="text-align: center">
                        <%= link_to pool.name, dashboard_overview_path(upcoming_pool: pool.id) %>
                      </td>
                  <% else %>
                      <td style="text-align: center">
                        <%= link_to pool.name, visitor_overview_path(id: pool.id) %>
                      </td>
                  <% end %>
                  <td style="text-align: center">$<%= pool.prize %></td>
                  <td style="text-align: center">$<%= pool.cost %></td>
                  <td style="text-align: center"><%= pool.start_date %></td>
                  <td style="text-align: center">47 TICKETS SOLD</td>
                </tr>
            <%end%>
        <% end %>
        </tbody>
      </table>
    </div>
<% end %>

