<div class="content">
  <h1>Overview</h1>


  <div style="text-align: center; margin-top: 5%; margin-bottom: 5%;">
    <%= link_to 'Sign Up',
                  visitor_register_path,
                  class:"btn btn-success",
                  style:"height: 2em; width: 10em; font-size: 24px; vertical-align: middle"%>
  </div>

  <div style=" overflow: auto;
          margin-top: 5%;
          margin-left: 5%;
          margin-right: 5%;
          margin-bottom: 2%;
          max-height: 500px;
          border-style: solid;
          padding: 1%;">

    <% if @overview_pool %>

        <%=raw @overview_pool.overview %>

    <% end %>

  </div>
</div>
