<div style="margin: 10%">

<% if !@expired %>
      <h1 style="text-align: center">Password Update for <%= @user.username  %></h1>
      <div style="margin: 0 auto; text-align: center; width: 50%">
        <br>
        <%= bootstrap_form_tag url: 'update_password', method: :post do |f|%>
            <%= f.password_field :password, label: 'Please enter your new password'%>
            <br><br>
            <%= f.password_field :password_confirmation, label: 'Confirm password' %>
            <br><br>
            <%= hidden_field_tag :user, @user.id %>
            <%= f.submit 'Submit', class: "btn btn-danger" %>
            <br><br>
      <% end %>
<% else %>
      <h2 style="text-align: center; color: darkred">The password reset link has expired.
        Please try again later or contact <a style="color: #EF720C" href="mailto:info@fatladypools.com">info@fatladypools.com</a> </h2>
<% end %>
  </div>

</div>