<div style="margin: 10%">

  <h1 style="text-align: center">Password Reset</h1>
  <div style="margin: 0 auto; text-align: center; width: 50%">
    <br>
    <%= bootstrap_form_tag url: 'create_password_reset_token', method: :post do |f|%>
        <%= f.label 'Please enter your email address' %>
        <br><br>
        <%= f.email_field :email, hide_label: true %>
        <br><br>
        <%= f.submit 'Submit', class: "btn btn-warning" %>
        <br><br>
    <% end %>
  </div>

  <div class="alert alert-warning alert-dismissable" style="width: 62%; margin-top: 5%; margin-left: auto; margin-right: auto;">
    <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
    <span style="font-weight: bold">Note: </span>Please make sure to check you Spam folder in your mail client. If you find the password reset e-mail there,
    you should whitelist it as a non-Spam mail.
  </div>

</div>