<div class="content" style="height: auto;">
<h2 style="color: #F1592D;">Survivor</h2>
    <ul>
      <li>Pick one team per round to win before the pick deadline. </li>
      <li>That team wins, you advance and the Fat one remains silent. </li>
      <li>That team loses or ties and the Fat Lady will be belting her tunes</li>
      <li>Once a team has been chosen, you are no longer able to pick that team</li>
      <li>A winner(s) is declared when only one player is left standing or when the season finishes. </li>
      <li>If you fail to register a pick, the first team listed in alphabetical order that you have yet to pick based on COUNTRY/CITY name will be assigned to you.</li>
    </ul>

    <h2 style="color: #F1592D;">Pik’em All</h2>
    <ul>
      <li>Pick the winner of each game for the round before the pick deadline</li>
      <li>The bottom 10% + ties win/loss records will endure Bertha’s voice</li>
      <li>All others advance to the next round</li>
      <li>Example: We start with 150 players, looking to eliminate 15 at minimum. Assuming 130 players had records of 10-6 or better, 7 were at 9-7 and 13 at 8-8 or worse, we would eliminate 20 players instead of 15. </li>
      <li>A winner(s) is declared when only one player is left standing or when the season finishes. </li>
      <li>If you fail to register a pick, the winner of each game will be selected by alphabetical order based on the COUNTRY/CITY name (Detroit over NY).</li>
    </ul>
    <h2 style="color: #F1592D;">Spread </h2>
    <ul>
      <li>Pick one team per round to cover the spread before the pick deadline</li>
      <li>Spreads are taken from XYYYY and are final as of the pick deadline. </li>
      <li>That team covers or ties, you advance and the Fat one is muted.</li>
      <li>That team fails to cover and you will hear the Fat Lady sing</li>
      <li>You can pick the same team more than once throughout the season </li>
      <li>A winner(s) is declared when only one player is left standing or when the season finishes. </li>
      <li>If you fail to register a pick, you will be assigned the team with the highest negative spread. (Seattle -9 is higher negative than Pittsburgh -4 or than Cleveland +5) </li>
    </ul>


    <div style="float:left;width: 60%;">
      <h2 style="color: #F1592D;">Biggest Loser </h2>
      <ul>
        <li>A twist from our classic Survivor Pool</li>
        <li>Pick one team per round to LOSE before the pick deadline</li>
        <li>That team loses, you advance and the Fat one remains silent.  </li>
        <li>That team wins or ties and the Fat Lady will be belting her tunes</li>
        <li>Once a team has been chosen, you are no longer able to pick that team</li>
        <li>A winner(s) is declared when only one player is left standing or when the season finishes. </li>
        <li>If you fail to register a pick, you will be assigned the first team listed alphabetically that you have yet to pick.</li>
      </ul>
    </div>
    <%= image_tag("frontend/fatLadyLarge.png", :alt => "FLP ",:style=>"width: 40%;margin: 0;") %>

    </div>
