

  <!------Content Div ------>
  <div class="content" style="height: auto;">
    <h1>Privacy and Security Policy</h1>


    <h2>Overview</h2>
    <p>Fat Lady Pools (FLP) supports the right to privacy, including the rights of individuals. FLP is committed to protecting Personal Data of the users of our Website. FLP supports domestic and international laws and regulations that seek to protect the privacy rights of such individuals.</p>
    <p>"Personal Data" means any information about an identifiable individual. It includes, without limitation, information relating to identity, gender, address, telephone number, e-mail address and date of birth.</p>
    <p>This Policy statement outlines our principles with respect to Personal Data collected, processed and used via our Website www.fatladypools.com or other social media platforms.</p>

    <h2>
      Operator of the Website
    </h2>
    <p>The Website is owned and operated by 9999 Canada inc, Montreal, QC. From a data privacy perspective this means that FLP is data controller.</p>


    <h2>Personal Data</h2>
    <p>All Personal Data you provide us is processed fairly and lawfully. For the purposes mentioned above we collect the following Personal Data about you:</p>
    <ul>
      <li>Full name</li>
      <li>Home address</li>
      <li>Date of birth</li>
      <li>User name</li>
      <li>Telephone number</li>
      <li>Email address</li>
    </ul>
    <p>Depending on context, we may also collect additional Personal Data to successfully provide services or process requests.</p>

    <h2>IP Addresses</h2>
    <p>FLP uses IP addresses to help diagnose problems and to administer the OpenText Website. When you visit our Website, we recognize only your domain name and not your e-mail address. We will see your e-mail address only if you fill out a form or send us an e-mail message.</p>
    <h2>Links to our Affiliates</h2>
    <p>If you want to learn about the privacy policies of our website that are accessible via links from the Website, please read the detailed privacy policies posted on their respective Websites.</p>

    <h2>Security</h2>
    <p>We are committed to ensuring that your Personal Data is secure. In order to prevent unauthorized access or disclosure, we have put in place suitable physical, electronic and managerial procedures to safeguard and secure the Personal Data we collect.</p>
    <ul>
      <li>All the Personal Data you provide us is stored in a secure computing environment protected by secure firewalls to prevent unauthorized access.</li>
      <li>We control access so that only authorized people can access the Personal Data. All FLP staff are provided security training and are required to adhere to a comprehensive set of security policies, procedures, and standards related to their jobs.</li>
    </ul>
    <h2>Responsibilities</h2>
    <p>FLP is committed in providing quick, efficient service. We are committed in answering any customer’s questions within 1 business day. All requests shall be sent via email to info@fatladypools.com. We are committed in providing responsible entertainment and we strive on our professionalism in doing so.</p></p>
    <p>The right to access or use our website may be illegal in certain countries so it your responsibility to verify to make sure that responsible entertainment is compliant with the laws in your jurisdiction and not illegal in the territory where you live.</p>
    <h2>My FLP Account</h2>
    <ul id="privacy">
      <li>   All players must be minimum 18 years of age or older in order to play any contests on FLP.</li>

      <li>   Under age gaming is a very serious felony and we reserve the right to refuse anyone we judge is using fake documents in providing their age.</li>

      <li>   When using a credit card to register for any contests, its very important that the name on the credit card is EXACTLY the same as the name you used to register your profile. If for any reasons, we suspect that the name used is different; your account will be suspended to protect you from any further frauds. You can then contact us so we can verify the personal information in order to reactivate your account.
        By accepting our terms, you are aware that since we are using credit cards to process your transactions, we might need to request any information from your credit provider in order to comply with the federal laws and regulations that protects the consumer.</li>

      <li>   In order to register for a pool, you will have to create a username and password. It is very important to keep this information private and use a combination that is safe and hard to guess. You can change your password at anytime if you judge that a third party might have access to it or if you forgot your password as well.</li>

      <li>   Your account balance and history of your account can be viewed at anytime once you are logged in. FLP reserves the right to close or suspend your account at any time if it suspects that there are frauds, cheating or any illegal activities. At this point FLP also has the right to reclaim and money that was paid from any contest if judged that there was a fraud committed. If there is any money owed by the client, the balance will have to be paid before we close the account or a lawsuit can take place.</li>

      <li>   A cheque (or electronic payment) will be issued to the client with the total amount of his winnings and will only be payable to the same name and account information that was provided when opening the account. If you owe any money on FLP, the amount of your winnings will be deducted to cover your FLP balance before a payment is issued. It is your responsibility to claim any winnings in your yearend taxes if required in your jurisdiction.</li>

    </ul>
    <div style="float:left;width: 60%;">
      <h2>Questions</h2>
      <p><b>Contact:</b> <i>info@fatladypools.com</i></p>

    </div>
    <%= image_tag("frontend/fatLadyLarge.png", :alt => "FLP ",:style=>"width: 40%;") %>

  </div>

