<h1 style="text-align: center">Sign Up</h1>


<%=  render 'users/form' %>

<div class="alert alert-warning alert-dismissable" style="width: 62%; margin-top: 5%; margin-left: auto; margin-right: auto;">
  <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
  <span style="font-weight: bold">Note: </span>Please make sure to check you Spam folder in your mail client. If you find the registration confirmation e-mail there,
  you should whitelist it as a non-Spam mail.
</div>

<br>
