

  <!------Content Div ------>
  <div class="content" style="height: auto;">
    <h1>Rules and General Information</h1>

    <p>
      1.	All FAT LADY POOLS are skill based competitions.
    </p>

    <p>
      2.	All Fat Lady Pools are for entertainment purposes and not to be used in connection with any form of gambling.
    </p>

    <p>
      3.	List of teams that can be picked for each round of each pool is indicated on the Schedule page of each pool.
    </p>

    <p>
      4.	In Survivor Pools, no Team can be picked more than once unless otherwise stipulated in the summary of that particular pool.
    </p>

    <p>
      5.	In Survivor Pools, all results include any and all overtime periods.
    </p>

    <p>
      6.	In Spread Pools, a “push” against the posted spread is considered a win.
    </p>

    <p>
      7.	In Spread Pools, the effective spreads will be those posted on Fat Lady Pools website as of a certain deadline.
    </p>

    <p>
      8.	In Pik All pools, players are asked to pick the winners of each game in the schedule for that particular time period.
    </p>

    <p>
      9.	The winner(s) of the Prize Pool will be the last entry or entries eliminated or still alive once the season or indicated period has expired.
    </p>

    <p>
      10.	All winnings of over $100 will be paid out no later than 3 days following the conclusion of a pool. All winnings under 100$ will be paid via a credit to be used against any future Fat Lady Pools.
    </p>

    <p>
      11.	If a player fails to submit a pick prior to the indicated deadline, that player will be assigned the 1st team listed alphabetically (name of city/country) that this person has yet to pick in this pool.
    </p>

    <p>
      12.	If a game or an event is cancelled or moved, Fat Lady Pools will provide specific guidelines as to the outcome of that game or event.
    </p>

    <p>
      13.	Any player who has registered for a pool but not paid for it prior to the 1st pick deadline of that pool will have that ticket immediately discarded. This ticket will either be sold to another player or eliminated from contention in that pool. The forfeiting player will, of course, not be entitled to any of the proceeds of such sale, if any.
    </p>

    14.	All Fat Lady Pools are open to players of 18 years of age or older. Players are strongly advised to find out if participating in a Fat Lady Pool does not contravene to the law in force in his particular jurisdiction. Residents of the US are not eligible to participate.  </p>

    <p>
      15.	Fat Lady Pools reserves the right to amend certain deadlines in case of error, technical problem or any other force majeure.
    </p>

    <p>
      16.	Fat Lady Pools is not affiliated to any professional league or teams.
    </p>
    <div style="width: 60%;float: left;">
      <p>
        17.	All schedule, spreads and other information are from trusted sources that provide public data.
      </p>
      <p>
        18.	In order to claim all prizes, players will be asked to answer correctly one mathematical skill-testing question without assistance of any kind within a specified time frame before being declared a winner.
      </p>
      <p>
        19.	Federal and, when applicable, provincial sales taxes will be levied to all Canadian players’ entries to any Fat Lady Pools.
      </p>
      <p>
        20.	The decisions of Fat Lady Pools are final on all matters of fact, interpretation, eligibility, procedure and fulfillment.
      </p>
      <p>
        21.	By entering in any Fat Lady Pools, the player acknowledges acceptance of all rules and agrees to be bound by them.
      </p>
    </div>
    <%= image_tag("frontend/fatLadyLarge.png", :alt => "FLP ",:style=>"width: 40%;margin: 2% 0;") %>

  </div>
