<div style="margin-left: 2em">
  <h1 style="text-align: center; color: green">Your profile was successfully updated!</h1>

  <h2 style="color: #EF720C">Account Details</h2>
  <p style="font-size: 1.5em">
    Your username is: <%= @user.username %>
    <br>
    Your current balance is: $<%= @user.balance %>
    <br>
  </p>

  <br>
  <br>
  <br>

  <div style="text-align: center; margin-bottom: 2em"> <%= link_to 'Go to Dashboard', dashboard_contests_path, class: "btn btn-danger" %>
  </div>

  <br>
  <br>

  <div class="alert alert-warning alert-dismissable" style="width: 62%; margin-top: 5%; margin-left: auto; margin-right: auto;">
    <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
    <span style="font-weight: bold">Note: </span>Please make sure to check you Spam folder in your mail client. If you find any FLP e-mail there,
    you should whitelist it as a non-Spam mail.
  </div>

</div>

