Hello <%= @user.username %>,

This email confirms that we have received your deposit of $<%= @user.last_deposit %>.

To view your current balance, please login to your FLP account and click on the "My Account" tab.

Berta
info@fatladypools.com

