Hello <%= @user.username %>,

This email confirms your pick for ticket # <%= @ticket_number %> - <%= @round.name %>
The pick is  <%= @pick_name %>

You may change your pick up and until the posted deadline.

Thank you for playing and good luck!


Berta

