Hello <%= @user.username %>,

This email confirms you have registered for <%= @pool_name %>.

If you do not have enough credits in your account, please make a deposit before the posted deadline.  Failure to do so will result in your ticket being disqualified.

Thank you for playing and good luck!


Berta
info@fatladypools.com

