Hello <%= @user.username %>,

Welcome to Fat Lady Pools!

We strive to offer users the best survivor pool experience on the market.
To be kept in the loop of all FLP news, be sure to follow us on Facebook, Twitter, and Instagram.

If you have any questions about our website or the contests, please feel free to contact us and remember it’s not over until the fat lady sings.

Good luck !

Berta
info@fatladypools.com
