Hello <%= @user.username %>,

You recently requested your Fat Lady Password password be changed. Please follow the link bellow to reset your password:

<%= visitor_password_update_url(@user.password_reset_token) %>

Please note that this link will expire in 1 hour.

Berta
info@fatladypools.com