Hello <%= @user.username %>,

This is a friendly reminder that the pick deadline for this round (<%= @round.name %>) is <%= @round.deadline %>.

If you have not yet registered your picks for this round, please do so before the posted deadline.  Failure to do so will result in a default pick. You don’t want to hear me sing before I have to.

Thank you for playing and good luck!


Berta
info@fatladypools.com