<%= bootstrap_form_for @round, layout: :inline  do |f| %>

                            <!--  Database creation error handling  -->
    <% if @round.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@round.errors.count, "error") %> prohibited this round from being saved:</h2>

      <ul>
      <% @round.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

                           <!------------- Panel form ----------------->

<div class="panel panel-danger">

                                <!-- Name and Pool in header -->

  <div class="panel-heading"  style="text-align: center">

    <table style="width: 100%;">
      <tbody>
        <tr>
          <td>
            Pool <%= f.collection_select :pool_id,
                                         Pool.all, :id,
                                         :name,
                                         {selected: session[:pool_id],
                                          hide_label: true}, disabled: true%>
          </td>



          <td>
            Name <%= f.text_field :name, hide_label: true %>
          </td>
          <td>
            Last time updated:
            <!-- When was the round last updated? (not its games as opposed to _round partial) -->
            <% if @round %>
                <%= @round.updated_at %>
            <% else %>
                -
            <% end %>
          </td>
          <td>
            <span id="#update-flag" class="glyphicon glyphicon-check" style="margin-left: 1em"></span>
          </td>
        </tr>
      </tbody>
    </table>
  </div>

                                <!-- Setting Round Dates -->

  <table class="table table-striped">
    <thead>
    <tr>
      <th><span style="margin-right: 4em;">Starts on</span><%= f.datetime_select :start_date, hide_label: true %></th>
    </tr>
    <tr>
      <th><span style="margin-right: 4em;">Ends on</span><%= f.datetime_select :end_date, hide_label: true %></th>
    </tr>
    <tr>
      <th> <span style="margin-right: 4em;">Deadline</span><%= f.datetime_select :deadline, hide_label: true %></th>
    </tr>
    </thead>
  </table>




                            <!----- Games Table ----------->

  <div class="panel-body">



    <% if @round.with_games or (@round.new_record? && @with_games) %>

                        <!----- Table for round with games ------>

      <table class="table">
        <thead>
        <tr>
          <th>
            Games
          </th>
        </tr>
        </thead>
                             <!-- Adding/Updating games -->
        <tbody>

        <!-- Existing games -->
        <% unless @round.games.all.empty? %>
            <%= f.fields_for :games, layout: :inline do |g| %>
                <tr class="info">
                  <td>
                    <span class="game-attribute-label">Team 1</span>
                    <%= g.collection_select :first_team_id,
                                            Team.where(league_id: @pool.league_id),
                                            :id,
                                            :name,
                                            {hide_label: true}%>
                  </td>
                  <td>
                    <span class="game-attribute-label">Team 2</span>
                    <%= g.collection_select :second_team_id,
                                            Team.where(league_id: @pool.league_id),
                                            :id,
                                            :name,
                                            {hide_label: true}%>
                  </td>
                  <td>

                  </td>

                </tr>

                <tr class="active">
                  <td>
                    Date
                    <%= g.datetime_select :date, hide_label: true %>
                  </td>
                  <td>
                    Location
                    <%= g.text_field :location, hide_label: true %>

                  </td>
                  <td>
                    <%= hidden_field_tag :with_games, @with_games %>
                    <%= f.submit 'Update',
                                 class: "btn btn-primary",
                                 name: 'update_existing_game_button'%>
                    <%= f.submit 'Remove',
                                 class: "btn btn-danger",
                                 name: 'remove_existing_game_button'%>
                  </td>
                </tr>

            <% end %>
        <% end %>

        <!-- Adding a new game -->

        <tr class="warning">
          <%= f.fields_for @new_game, layout: :inline do |g| %>
              <td>
                <span class="game-attribute-label">New Team 1</span>
                <%= g.collection_select :first_team_id,
                                        Team.where(league_id: @pool.league_id),
                                        :id,
                                        :name,
                                        {hide_label: true}%>
                <span class="game-attribute-label">New Team 2</span>
                <%= g.collection_select :second_team_id,
                                        Team.where(league_id: @pool.league_id),
                                        :id,
                                        :name,
                                        {hide_label: true}%>
              </td>
              <td>

              </td>
              <td>

              </td>
              <tr class="success">
                <td>
                  <span class="game-attribute-label">Date</span>
                  <%= g.datetime_select :date, hide_label: true %>
                </td>

                <td>
                  <span class="game-attribute-label">Location</span>
                  <%= g.text_field :location, hide_label: true %>
                </td>

                <td style="text-align: center" data-no-turbolink="true">
                  <% if @round.new_record? %>
                      <%= hidden_field_tag :with_games, @with_games %>
                      <%= f.submit 'Add and Save',
                                   class: "btn btn-warning",
                                   name: 'add_game_to_new_round_button'%>
                  <% else %>
                      <%= hidden_field_tag :with_games, @with_games %>
                      <%= f.submit 'Add and Save',
                                   class: "btn btn-warning",
                                   name: 'add_game_to_existing_round_button'%>
                  <% end %>
                </td>
              </tr>
          <% end %>

          </tbody>
      </table>

                        <!----- Table for round without games ------>

    <% else %>
        <table class="table">
          <thead>
          <tr>
            <th>
              Teams in Round
            </th>
          </tr>
          </thead>
          <!-- Adding/Updating games -->
          <tbody>

          <!-- Existing games -->
          <% if @round.games.any? %>
              <%= f.fields_for :games, layout: :inline do |game_form| %>
                  <tr class="info">
                    <td>
                      <span class="game-attribute-label">Team in Round</span>
                      <%= game_form.collection_select :first_team_id,
                                              Team.where(league_id: @pool.league_id),
                                              :id,
                                              :name,
                                              {hide_label: true}%>
                    </td>
                    <td>

                      <% if game_form.object.first_team_id != game_form.object.winner_id %>
                          <%= hidden_field_tag :clicked_game_id, game_form.object.id %>
                          <%= game_form.submit 'Keep',
                                               class: "btn btn-success",
                                               name: 'keep_existing_game_button'%>
                      <% else %>
                          <%= game_form.submit 'Update',
                                               class: "btn btn-primary",
                                               name: 'update_existing_game_button'%>
                      <% end %>

                      <%= game_form.submit 'Remove',
                                   class: "btn btn-danger",
                                   name: 'remove_existing_game_button'%>
                    </td>
                  </tr>
              <% end %>
        <% end %>

          <!-- Adding a new game -->
                <tr class="warning">
            <%= f.fields_for @new_game, layout: :inline do |g| %>
                    <td style="text-align: center">
                      <span class="game-attribute-label">New Team</span>
                      <%= g.collection_select :first_team_id,
                                              Team.where(league_id: @pool.league_id),
                                              :id,
                                              :name,
                                              {hide_label: true}%>
                    </td>
                  <td style="text-align: center" data-no-turbolink="true">
                    <% if @round.new_record? %>
                        <%= hidden_field_tag :with_games, @with_games %>
                        <%= f.submit 'Add and Save',
                                     class: "btn btn-warning",
                                     name: 'add_game_to_new_round_button'%>
                    <% else %>
                        <%= hidden_field_tag :with_games, @with_games %>
                        <%= f.submit 'Add and Save',
                                     class: "btn btn-warning",
                                     name: 'add_game_to_existing_round_button'%>
                    <% end %>
                  </td>
                 </tr>
            <% end %>
          </tbody>
        </table>
      <% end %>
  </div>
</div>

  <table style="width: 100%">
    <tbody>
      <th>
        <td style="text-align: left">
          <%= hidden_field_tag :with_games, @with_games %>
          <%= f.submit 'Save Round Info', class: "btn btn-danger", name: 'save_existing_round_button'%>
        </td>
        <td style="text-align: right" data-no-turbolink="true">
          <%= link_to 'Back to Pool', manage_pool_path(@pool), class: "btn btn-info"%>
        </td>
      </th>
    </tbody>
  </table>


<% end %>

<br>
