<!-- @brief Partial file for rendering a round model. Called from manage_pool or round action views.
     @param render_history is local variable passed to the partial explicitly. When set to true,
            it means partial is to be styled as a round with past games (past round or active round)
     @author Mehdi Mahmoudi
-->

                                <!---- Round has games ---->
<% if round.with_games %>
    <div class="panel panel-danger">

      <!--  Round metadata (time stamp and name) + edit shortcuts -->
      <div class="panel-heading">
        <table>
          <tbody>
            <tr>
              <td class="round-action-remove">
                <span class="glyphicon glyphicon-trash"></span>
                <%= link_to 'Remove', round_path(round), method: :delete,
                            data:{confirm: "Are you sure to remove round #{round.name}?"} %>
              </td>
              <td class="round-action-edit">
                <span class="glyphicon glyphicon-pencil"></span>
                <%= link_to 'Edit Round', edit_round_path(round)%>
              </td>
              <td class="round-panel-title">
                Round: <%= round.name %>
              </td>
              <td class="round-action">
                Last updated:
                <!-- If round hasn't been altered display latest updated game -->
                <% if round.games.empty? %>
                    <%= round.updated_at %>
                <% else %>
                    <%= round.games.order(:updated_at).last.updated_at%>
                <% end %>
              </td>
              <td>
                 <span class="glyphicon glyphicon-check update-flag"> </span>
              </td>
            </tr>
          </tbody>
        </table>

      </div>
      <div class="panel-body">
        <div style="text-align: left">
          <p>
            <strong>Start Date: </strong> <%= round.start_date %>
          </p>
          <p>
            <strong>End Date: </strong> <%= round.end_date %>
          </p>
          <p>
            <strong>Games:</strong>
          </p>

          <table class="table table-hover round-games-table">
            <thead>
            <tr>
              <% unless render_history %>
                <th>Winner</th>
              <% end %>
              <th>Team 1</th>
              <th>Score</th>
              <% unless render_history %>
                  <th>Winner</th>
              <% end %>
              <th>Team 2</th>
              <th>Score</th>
              <% if render_history %>
                <th>Winner</th>
              <% else %>
                <th>Tie</th>
                <th>Update Result</th>
              <% end %>
            </tr>
            </thead>
            <tbody>

            <!-- Display an empty notice when there's nothing to display -->
            <% if round.games.empty? %>
                <% if render_history %>
                    <tr>
                      <div class="alert alert-info">
                        <strong>Round history is empty. It will be updated as teams get eliminated.</strong>
                      </div>
                    </tr>
                <% else %>
                    <tr>
                      <div class="alert alert-info">
                        <strong>Nothing to display for this round. To plan games, click edit.</strong>
                      </div>
                    </tr>
                <% end %>

            <% else %>

            <% round.games.order(:date).each do |game| %>

                <!-- Do not display form helpers (score and button)
                     and eliminate button when rendering history -->
                <% if render_history %>
                    <tr>
                      <td style="text-align: center"><%= Team.find_by(id: game.first_team_id).name %></td>
                      <td>
                        <%= label_tag game.first_team_score%>
                      </td>
                      <td style="text-align: center"><%= Team.find_by(id: game.second_team_id).name %></td>
                      <td>
                        <%= label_tag game.second_team_score%>
                      </td>
                      <td>
                        <% if Team.find_by(id: game.winner_id) %>
                            <%= label_tag Team.find_by(id: game.winner_id).name%>
                        <% else %>
                            -
                        <% end %>
                      </td>
                    </tr>

                <% else %>
                        <%= bootstrap_form_for(game) do |f| %>
                            <tr>
                              <td>
                                <%= radio_button_tag('winner_select', 'first_team',
                                                     game.winner_id == game.first_team_id,
                                                     disabled: round.complete ) %>
                              </td>

                              <!-- Fix this FLP-264 -->
                              <td style="text-align: left"><%= Team.find_by(id: game.first_team_id).name %></td>
                              <td>
                                <% if game.first_team_score == -1 %>
                                    <%= f.text_field :first_team_score, value: "-",
                                                     disabled: round.complete,
                                                     hide_label: true%>
                                <% else %>
                                    <%= f.text_field :first_team_score,
                                                     disabled: round.complete,
                                                     hide_label: true%>
                                <% end %>

                              </td>

                              <td> <%= radio_button_tag('winner_select', 'second_team',
                                                        game.winner_id == game.second_team_id,
                                                        disabled: round.complete ) %>
                              </td>
                              <!-- Fix this FLP-264 -->
                              <td style="text-align: left"><%=  Team.find_by(id: game.second_team_id).name  %></td>
                              <td>
                                <% if game.second_team_score == -1 %>
                                    <%= f.text_field :second_team_score, value: "-",
                                                     disabled: round.complete,
                                                     hide_label: true%>
                                <% else %>
                                    <%= f.text_field :second_team_score,
                                                     disabled: round.complete,
                                                     hide_label: true%>
                                <% end %>
                              </td>
                              <td>
                                <%= radio_button_tag('winner_select', 'tie',
                                                     game.winner_id == nil, disabled: round.complete) %>
                              </td>
                              <td>
                                <%= hidden_field_tag :pool_id, round.pool_id %>
                                <%= f.submit 'Apply', class:"btn btn-success", disabled: round.complete %>
                              </td>
                            </tr>
                        <% end %>
                    <% end %>
                <% end %>
            <% end %>
            <tr>
              <td colspan="7">
                <% if render_history %>
                    <%= link_to 'Dismiss',
                                 manage_pool_path(round.pool),
                                 class: "btn btn-info round-action-complete" %>
                <% else %>
                    <% if round.complete %>
                        <%= button_to 'Complete Round',
                                      complete_round_path(round),
                                      method: :put,
                                      disabled: true,
                                      class: "btn btn-primary round-action-complete" %>
                    <% else %>
                        <%= button_to 'Complete Round',
                                      complete_round_path(round),
                                      method: :put,
                                      disabled: false,
                                      class: "btn btn-primary round-action-complete" %>
                    <% end %>
                <% end %>

              </td>
              <td>
                <div>
                  <%= button_to (round.display_stat ? 'Hide Stats' : 'Display Stats'),
                                display_stat_round_path(round), class: (round.display_stat ? "btn btn-info" : "btn btn-success") %>
                </div>
              </td>
            </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
                                <!---- Round without games ---->
<% else %>

    <div class="panel panel-info">
      <div class="panel-heading">
        <table>
          <tbody>
          <tr>
            <td class="round-action-remove">
              <span class="glyphicon glyphicon-trash"></span>
              <%= link_to 'Remove', round_path(round), method: :delete,
                          data:{confirm: "Are you sure to remove round #{round.name}?"} %>
            </td>
            <td class="round-action-edit">
              <span class="glyphicon glyphicon-pencil"></span>
              <%= link_to 'Edit Round', edit_round_path(round)%>
            </td>
            <td class="round-panel-title">
              Round: <%= round.name %>
            </td>
            <td class="round-action">
              Last updated:
              <!-- If round hasn't been altered display latest updated game -->
              <% if round.games.empty? %>
                  <%= round.updated_at %>
              <% else %>
                  <%= round.games.order(:updated_at).last.updated_at%>
              <% end %>
            </td>
            <td>
              <span class="glyphicon glyphicon-check update-flag"> </span>
            </td>
          </tr>
          </tbody>
        </table>
      </div>
      <div class="panel-body">
        <div style="text-align: left">
          <p>
            <strong>Start Date: </strong> <%= round.start_date %>
          </p>
          <p>
            <strong>End Date: </strong> <%= round.end_date %>
          </p>

          <p class="round-panel-notice">
            <strong>This round has no games</strong>
          </p>
          <table class="table table-hover round-games-table">
            <thead>
            <tr>
              <th>Team</th>
              <% if render_history %>
                <th>Outcome</th>
              <% else %>
                <th>Action</th>
              <% end %>
            </tr>
            </thead>
            <tbody>
            <% round.games.order(:date).each do |game| %>
                <%= bootstrap_form_for(game) do |f| %>
                    <% unless game.winner_id.nil? %>
                        <tr>
                          <td><%= Team.find_by(id: game.first_team_id).name %></td>

                          <!-- When a team passes the qualifications session it's associated to the
                               winner id in the controller and is displayed as such in the round history -->
                          <td>
                            <% if render_history %>
                                <% if game.winner_id == game.first_team_id %>
                                    Passed
                                <% else %>
                                    Eliminated
                                <% end %>

                            <% else %>
                                <%= f.submit 'Eliminate', class:"btn btn-danger", disabled: round.complete %>
                            <% end %>
                          </td>
                        </tr>
                    <% end %>
                <% end %>
            <% end %>
            <tr>
              <td>
                <% if render_history %>
                    <%= link_to 'Dismiss', manage_pool_path(round.pool), class: "btn btn-info" %>
                <% else %>
                    <%= button_to 'Complete Round',
                                  complete_round_path(round),
                                  method: :put,
                                  class: "btn btn-primary round-action-complete",
                                  disabled: round.complete %>
                <% end %>
              </td>
              <td>
                <div>
                  <%= button_to (round.display_stat ? 'Hide Stats' : 'Display Stats'),
                                display_stat_round_path(round), class: (round.display_stat ? "btn btn-info" : "btn btn-success") %>
                </div>
              </td>
            </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
 <% end %>
