<%= bootstrap_form_for(@user) do |f| %>
  <% if @user.errors.any? %>
   <div class="alert alert-danger alert-dismissable"
        style="width: 62%; margin-bottom: 5%; margin-top: 5%; margin-left: auto; margin-right: auto;">
      <h4 style="color: darkred"><%= pluralize(@user.errors.count, "error") %> prohibited this user from being saved:</h4>

      <ul>
      <% @user.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

    <div style="width: 50%; margin: 0 auto;">
      <div class="field">
        <%= f.label :username %><br>
        <%= f.text_field :username, hide_label: true %>
      </div>
      <% unless session[:admin_logged] %>
          <div class="field">
            <%= f.label :password %><br>
            <%= f.password_field :password,  hide_label: true %>
          </div>
          <div class="field">
            <%= f.label :password_confirmation %><br>
            <%= f.password_field :password_confirmation,  hide_label: true %>
          </div>
      <% end %>
      <div class="field">
        <%= f.label :first_name %><br>
        <%= f.text_field :first_name, hide_label: true %>
      </div>
      <div class="field">
        <%= f.label :last_name %><br>
        <%= f.text_field :last_name, hide_label: true %>
      </div>
      <div class="field">
        <%= f.label :email %><br>
        <%= f.text_field :email, hide_label: true %>
      </div>
      <div class="field">
        <%= f.label :phone %><br>
        <%= f.text_field :phone, hide_label: true %>
      </div>
      <div class="field">
        <%= f.label :country %><br>
        <%= f.select :country, I18nData.countries.values, selected: I18nData.countries['CA'], hide_label: true %>
      </div>
      <div class="field">
        <%= f.label :province %><br>
        <%= f.text_field :province, hide_label: true %>
      </div>
      <div class="field">
        <span style="font-weight: bold;">Date of Birth</span><br>
        <%= f.date_select :dob, hide_label: true,
                          start_year: Date.today.year - 18,
                          end_year: Date.today.year - 130,
                          default: Date.new(1990, 1, 1) %>
      </div>
      <% if session[:user_id] %>
          <div class="actions">
            <%= f.submit 'Update', class:"btn btn-success" %>
          </div>
      <% else %>
          <div class="actions">
            <%= f.submit 'Register', class:"btn btn-danger" %>
          </div>
      <% end %>
    </div>



<% end %>
