<h1>Manage User Balances</h1>

<table class= "table table-striped" style="width: 100%; margin: 0 auto;">
  <thead>
      <tr>
        <th>User</th>
        <th>Full Name</th>
        <th>Amount(+/-)</th>
        <th>Balance</th>
        <th>Action</th>
      </tr>
  </thead>
  <tbody>
  <% @users.each do |user| %>
      <%= form_tag users_balances_path, method: :put   do %>
          <%= hidden_field_tag :user_id, user.id%>
          <tr>
            <td>
              <%= user.username %>
            </td>
            <td>
              <%= user.first_name %> <%= user.last_name %>
            </td>
            <td>
              <%= number_field_tag :amount %>
            </td>
            <td>
              $<%= user.balance %>
            </td>
            <td>

              <%= submit_tag 'Credit/Debit', class: "btn btn-success" %>

            </td>
          </tr>
      <% end %>
  <% end %>
  </tbody>

</table>