<h1>Registered Users</h1>

<table class="table table-striped" style="width: 100%; margin: 0 auto;">
  <thead>
    <tr>
      <th>Username</th>
      <th>First name</th>
      <th>Last name</th>
      <th>Email</th>
      <th>Phone</th>
      <th>Country</th>
      <th>Province</th>
      <th>Date of Birth</th>
      <th>Balance</th>
      <th>Action</th>
    </tr>
  </thead>

  <tbody>
    <% @users.each do |user| %>
      <tr>
        <td><%= user.username %></td>
        <td><%= user.first_name %></td>
        <td><%= user.last_name %></td>
        <td><%= user.email %></td>
        <td><%= user.phone %></td>
        <td><%= user.country %></td>
        <td><%= user.province %></td>
        <td><%= user.dob %></td>
        <td>$<%= user.balance %></td>
        <td style="text-align: right" data-no-turbolink="true">
          <%= link_to 'Manage', manage_user_path(user)%>
          <span class="glyphicon glyphicon-dashboard pool-action-manage"></span>
          <br>
          <%= link_to 'Edit', edit_user_path(user)%>
          <span class="glyphicon glyphicon-pencil pool-action-edit"></span>
          <br>
          <%= link_to 'Remove',
                      user_path(user),
                      method: :delete,
                      data:{confirm: "Are you sure you want to remove user #{user.username}?
                      User has #{user.tickets.where(validity: true).count} alive tickets in FLP"}%>
          <span class="glyphicon glyphicon-trash pool-action-edit"></span>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<span style="float: right; padding-bottom: 2em; ">
  <%= button_to 'Add New User',
                new_user_path,
                class:"btn btn-warning",
                type:"button",
                method: :get%>
</span>
