<h1>Manage <%= @user.first_name %> <%= @user.last_name%> </h1>
<h4 style="text-align: center">(<%= @user.username %>)</h4>

<% if @user.tickets.blank? %>
    <h4 style="text-align: center; margin-top: 2em;">No tickets to display for this user</h4>
<% else %>
    <% @user.pools.order(:league_id, :start_date).each do |pool| %>

        <% if pool.start_date > Date.today %>
            <h3 style="text-align: center; color: darkred; margin-bottom: 10%;">Upcoming Pool: <%= pool.name %></h3>
        <% elsif pool.end_date < Date.today %>
            <h3 style="text-align: center; color: green; margin-bottom: 10%;">Active Pool: <%= pool.name %></h3>
        <% elsif Date.today.between?(pool.start_date, pool.end_date) %>
            <h3 style="text-align: center; color: grey; margin-bottom: 10%;">Past Pool: <%= pool.name %></h3>
        <% end %>

        <% if pool.rounds.blank? %>
            <div class="alert alert-info" style="margin: 0 auto;">
              <td colspan="2">The pool associated with this ticket has no rounds yet</td>
            </div>
        <% else %>

        <% pool.rounds.order(:start_date, :with_games).each do |round| %>
            <h4 data-no-turbolink="true" style="margin-bottom: 5%"><%= link_to "Round #{round.name}", round_path(round) %></h4>
                <table class="table table-striped" style="margin-bottom: 10vh;">
                  <thead>
                  <% if round.complete %>
                    <tr>
                      <th colspan="4" style="color: lightcoral">This round is closed</th>
                    </tr>
                  <% end %>
                  <tr>
                    <th style="width: 20%;">
                      Ticket Action
                    </th>
                    <th style="width: 20%;">
                      Ticket
                    </th>
                    <th style="width: 20%">
                      Picks
                    </th>
                    <th style="width: 20%">
                      Pick Action
                    </th>
                  </tr>
                  </thead>

                  <tbody>
                  <% @user.tickets.where(pool: pool).each  do |ticket| %>
                      <tr>
                        <% if ticket.validity %>
                            <td><%= button_to 'Disable',
                                              { controller: :tickets, action: :disable, id: ticket.id },
                                              method: :put,
                                              class: "btn btn-danger",
                                              data: {confirm: "Are you sure you want to disable this ticket for #{@user.username}?"} %></td>
                            <td>
                        <% else %>
                            <td><%= button_to 'Enable',
                                              { controller: :tickets, action: :disable, id: ticket.id },
                                              method: :put,
                                              class: "btn btn-success",
                                              data: {confirm: "Are you sure you want to re-enable this ticket for #{@user.username}?"} %></td>
                            <td>
                        <% end %>

                          #<%= @user.tickets.where(pool: pool).index(ticket) + 1 %>
                        </td>
                        <% if ticket.picks.where(round_id: round.id).blank? %>
                            <%= bootstrap_form_tag url: 'add_managed_pick', method: :post do |p|%>
                                    <td>
                                      <%= p.collection_select :team_id,
                                                              possible_picks(round, ticket).to_a,
                                                              :id,
                                                              :name,
                                                              {hide_label: true,
                                                               include_blank: ticket.validity ? "No Picks" : "Invalid/Expired Ticket"},
                                                              disabled: !ticket.validity || round.complete%>
                                    </td>

                                    <td>
                                      <%= hidden_field_tag :ticket, ticket.id %>
                                      <%= hidden_field_tag :round, round.id %>
                                      <%= p.submit 'Add Pick',
                                                   class: "btn btn-success",
                                                   disabled: !ticket.validity || round.complete,
                                                   data: {confirm: "Are you sure you want to add this pick to user ticket?"} %>
                                    </td>


                            <% end %>
                        <% else %>
                            <%= bootstrap_form_tag url: 'update_managed_pick', method: :put do |p|%>
                                <td>
                                  <%= p.collection_select :team_id,
                                                          possible_picks(round, ticket).to_a.concat([Team.find(ticket.picks.where(round_id: round.id).first.team_id)]),
                                                          :id,
                                                          :name,
                                                          {hide_label: true,
                                                           selected: ticket.picks.where(round_id: round.id).first.team_id,
                                                           include_blank: ticket.validity ? false : "Invalid/Expired Ticket" },
                                                          disabled: !ticket.validity || round.complete%>

                                </td>
                                <td>
                                  <%= hidden_field_tag :ticket, ticket.id %>
                                  <%= hidden_field_tag :round, round.id %>
                                  <%= p.submit 'Update',
                                               class: "btn btn-primary",
                                               disabled: !ticket.validity || round.complete,
                                               data: {confirm: "Are you sure you want to change this pick for this ticket?"} %>
                                  <%= hidden_field_tag :ticket, ticket.id %>
                                  <%= hidden_field_tag :round, round.id %>
                                  <%= p.submit 'Remove',
                                               class: "btn btn-danger",
                                               disabled: !ticket.validity || round.complete,
                                               data: {confirm: "Are you sure you want to remove this pick from  user ticket?"}  %>
                                </td>
                            <% end %>
                        <% end %>


                      </tr>
                  <% end %>
                  </tbody>
                </table>
            <% end %>

        <% end %>

    <% end %>

<% end %>
