<h1>Listing tickets</h1>

<table>
  <thead>
    <tr>
      <th>Value</th>
      <th>Date of sale</th>
      <th>Expiry date</th>
      <th>Valid</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @tickets.each do |ticket| %>
      <tr>
        <td><%= ticket.value %></td>
        <td><%= ticket.date_of_sale %></td>
        <td><%= ticket.expiry_date %></td>
        <td><%= ticket.validity %></td>
        <td><%= link_to 'Show', ticket %></td>
        <td><%= link_to 'Edit', edit_ticket_path(ticket) %></td>
        <td><%= link_to 'Destroy', ticket, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Ticket', new_ticket_path %>
