<p id="notice"><%= notice %></p>

<p>
  <strong>Value:</strong>
  <%= @ticket.value %>
</p>

<p>
  <strong>Date of sale:</strong>
  <%= @ticket.date_of_sale %>
</p>

<p>
  <strong>Expiry date:</strong>
  <%= @ticket.expiry_date %>
</p>

<p>
  <strong>Valid:</strong>
  <%= @ticket.valid %>
</p>

<%= link_to 'Edit', edit_ticket_path(@ticket) %> |
<%= link_to 'Back', tickets_path %>
