<%= form_for(@game) do |f| %>
  <% if @game.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@game.errors.count, "error") %> prohibited this game from being saved:</h2>

      <ul>
      <% @game.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :first_team %><br>
    <%= f.number_field :first_team %>
  </div>
  <div class="field">
    <%= f.label :second_team %><br>
    <%= f.number_field :second_team %>
  </div>
  <div class="field">
    <%= f.label :date %><br>
    <%= f.date_select :date %>
  </div>
  <div class="field">
    <%= f.label :location %><br>
    <%= f.text_field :location %>
  </div>
  <div class="field">
    <%= f.label :winner_id %><br>
    <%= f.number_field :winner_id %>
  </div>
  <div class="field">
    <%= f.label :first_team_score %><br>
    <%= f.number_field :first_team_score %>
  </div>
  <div class="field">
    <%= f.label :second_team_score %><br>
    <%= f.number_field :second_team_score %>
  </div>
  <div class="field">
    <%= f.label :tie %><br>
    <%= f.check_box :tie %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
