<h1>Listing games</h1>

<table>
  <thead>
    <tr>
      <th>First team</th>
      <th>Second team</th>
      <th>Date</th>
      <th>Location</th>
      <th>Winner</th>
      <th>First team score</th>
      <th>Second team score</th>
      <th>Tie</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @games.each do |game| %>
      <tr>
        <td><%= game.first_team %></td>
        <td><%= game.second_team %></td>
        <td><%= game.date %></td>
        <td><%= game.location %></td>
        <td><%= game.winner_id %></td>
        <td><%= game.first_team_score %></td>
        <td><%= game.second_team_score %></td>
        <td><%= game.tie %></td>
        <td><%= link_to 'Show', game %></td>
        <td><%= link_to 'Edit', edit_game_path(game) %></td>
        <td><%= link_to 'Destroy', game, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Game', new_game_path %>
