<p id="notice"><%= notice %></p>

<p>
  <strong>First team:</strong>
  <%= @game.first_team %>
</p>

<p>
  <strong>Second team:</strong>
  <%= @game.second_team %>
</p>

<p>
  <strong>Date:</strong>
  <%= @game.date %>
</p>

<p>
  <strong>Location:</strong>
  <%= @game.location %>
</p>

<p>
  <strong>Winner:</strong>
  <%= @game.winner_id %>
</p>

<p>
  <strong>First team score:</strong>
  <%= @game.first_team_score %>
</p>

<p>
  <strong>Second team score:</strong>
  <%= @game.second_team_score %>
</p>

<p>
  <strong>Tie:</strong>
  <%= @game.tie %>
</p>

<%= link_to 'Edit', edit_game_path(@game) %> |
<%= link_to 'Back', games_path %>
