/* @Author Mehdi Mahmoudi
 * @brief Stylesheet for the default backend FLP layout.
 * @see dashboard.css frontend.css
 *
 *= require pools
 *= require rounds
 *= require users
*/


@import "bootstrap";


// Banner
#banner {

  background: lightsteelblue;
  padding: 10px;
  border-bottom: 2px solid;
  font: small-caps 40px/40px "Lucida Grande";
  color: steelblue;

}

// Alerts and notices
#notice {
  color: #000 !important;
  border: 2px solid red;
  padding: 1em;
  margin-bottom: 2em;
  background-color: #f0f0f0;
  font: bold smaller sans-serif;
}

// Skeleton container for the two main components: Sidebar + Main content div
#columns {

  background: #21252c;
  height: 100%;

  #header {
    margin-left: 17em;
    height: 7vh;
    background-color: orangered;
  }

  // Main content area for AJAX rendering
  #main {
    margin-left: 17em;
    padding: 3em;
    background: #ffffff;
    height: 100%;

  }

  // Navigation sidebar
  #sidebar {
    width: 17em;
    background: #21252c;
    float: left;
    position: absolute;
    min-height: 100%;
    overflow-y: 100%;
    color: lightgray;

    a {
      color: ghostwhite;
    }

    td {
      border-bottom: 1px solid #1a2024;;
      border-top: 1px solid #1a2024;
      border-collapse: collapse;
      text-align: right;
      margin-right: 2em;
    }


    .table-hover tbody tr:hover td, .table-hover tbody tr:hover th {
      background-color: orangered;
    }

    li {
      min-height: 3em;
    }

    // Logo mus fit within sidebar div
    #logo {
      max-width: 100%;
      max-height: 100%;
      margin-bottom: 2em;
    }

    .logo-link:hover {
      background-color: #21252c;
    }

    .menu-item-text {
      float: center;
      margin-left: 5em;
      padding-right: 2em;
    }

    ul {
      list-style: none;
    }
  }
}