/* @Author Mehdi Mahmoudi
 * @brief Stylesheet for the default frontend FLP layout.
 * @see dashboard.scss
 *
 *
 *
*/


@import "bootstrap";

// Banner
#banner {

  background: lightsteelblue;
  padding: 10px;
  border-bottom: 2px solid;
  font: small-caps 40px/40px "Lucida Grande";
  color: steelblue;

}

// Alerts and notices
#notice {
  color: #000 !important;
  border: 2px solid red;
  padding: 1em;
  margin-bottom: 2em;
  background-color: #f0f0f0;
  font: bold smaller sans-serif;
}

//override carousel control bootstrap
.carousel-control .icon-prev, .carousel-control .icon-next, .carousel-control .glyphicon-chevron-left, .carousel-control .glyphicon-chevron-right {
  display: none !important;
}

#scheduleWeek {
  background: rgba(29, 25, 19, 1);
  height: 1em;
  padding: 2% 2%;
  font-size: 18px;
  color: #f26522;
  border: 1px solid #a9a9a9;
  margin: 5%;
}