.navbar:before,
.navbar:after {
    content: " ";
    display: table;
}
.navbar:after {
    clear: both;
}
.navbar {
    *zoom: 1;
}
nav a#pull {
    display: none;
}

#logPhone{
    display:none;
}
@media only screen and (max-width: 640px) {


.container {
width: 100% !important;
background:#ffffff;
}

/****Header Css for MObile Version **/
header{
    height: auto;
}
#divLogo{
   padding-top: 2px;
 }
#logo {
width: 50%;
}  
.row {
height: 66px !important;
}  
.navbar-inverse {
 display:none;
 }
 .page-header {
 padding-bottom: 0px !important; 
margin: 0px !important; 
border-bottom: none !important;
}
.navmobile{
    display:none;
}
#iconMenu img {
width: 77%;
float: right;
}
a#iconMenu {
 display: block;
right: 0;
top: 0;
height: 89px;
width: 57%;
position: absolute;
background: url(image_path('frontend//IconMMenu.png'))no-repeat;
background-position: top right;
background-size: 77%;
}
#iconMenu span{
background: black;
width: 56%;
height: 66px;
margin-left: 21%;
position: absolute;
text-align: center;
padding: 8% 6% 0 7%;
}
#iconMenu span p{
line-height: 1;    
text-transform: uppercase;
color: white;
font-weight: bold;
font-family: helvetica;
font-size: 0.9em;
}
/***End Header ***/

/********Carousel *****/
.carousel {
    display:none;
 width: 100% !important;
 }
 .carousel-inner {
     border: none;
     border-radius:0px;
 }
 .carousel-control{
     display:none;
 }
 .ombre{
     display: none;
 }
 .SlidMobile{
    display:block;
}
/*******CONTENT****/
.content {
width: 100%;

}

a#logPhone {
 display: inline;
 height:inherit;
 width: 50%;
 position: relative;
 float:right
 }
.login{
    right:0;
    width: 60%;
    display: none;
    z-index: 2;
    position:absolute;
    background:#d4d4d4;
}
 nav a#pull {
 display: inline;
 height:inherit;
 width: 50%;
 position: relative;
  background:black;
 float: left;
 }

nav {
border-bottom: 0;
 }
 
nav ul {
 display: none;
  height: auto;
  background:black;
  width: 50%;
 }

nav a#pull:after {
 content:"";
 background: url(image_path('frontend//nav-icon.png')) no-repeat;
 width: 30px;
 height: 30px;
 display: inline-block;
 position: absolute;
 right: 15px;
 top: 10px;
 }
 
.ContentFooter {
width: 100%;
}
.ContentFooter p {
width: 7em;
float: left;
} 
}

@media only screen and (min-width: 240px) and (max-width: 600px) and (orientation: landscape) { 
 nav li {
 display: block;
 float: none;
  width: 50%;
 }
 nav li a {
 border-bottom: 1px solid #576979;
 }
}