// Place all the styles related to the Pools controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
//= require rounds

h1 {
  text-align: center;
}


// Labels for the corresponding item titles
#active-pools-label {
  color: darkgreen;
  margin-top: 5vh;
  font-size: large;
}

#upcoming-pools-label {
  color: darkred;
  margin-top: 10vh;
  font-size: large;
}

#past-pools-label {
  color: darkgray;
  margin-top: 10vh;
  font-size: large;
}

#remaining-tickets-label {
  color: darkred;
  margin-top: 10vh;
  font-size: large;
}


#rounds-label {
  color: darkgreen;
  margin-top: 10vh;
  font-size: large;
}

th {
  text-align: center !important;
}

// Applies for all tables: Tickets summary, round panels... etc.
table {

  th {
    text-align: left;
  }

  tbody {

    // For all table data
    td {
      text-align: center;
    }

    // For round panel table data
    .round-panel {
      float: center;
      min-width: 100% !important;
    }

  }
}


// Styles for action icons and buttons in pools
.pool-action-manage {
  max-height: 100% !important;
  max-width: auto !important;
  float: center;
}

.pool-action-edit {
  max-height: 100% !important;
  max-width: auto !important;
  float: center
}

.pool-action-browse {
  max-height: 100% !important;
  max-width: auto !important;
  float: center
}

.pool-action-add-round {
  float: right;
  padding-right: 2vh;
  padding-bottom: 2vh;
}

