/**
  @brief SCSS file applying the the round partial and other round related forms and views.
  @note You need to require this file in the backend layout prior to rendering the round partial
  @author Mehdi Mahmoudi
  @date 26/04/2014
*/

// Round panel heading items: A table containing metadata and action shortcuts (remove + edit)
.panel-heading {
  table {
    width: 100%;
    padding-left: 0;
    margin-left: 0;
    margin-right: 0;

    .round-panel-title {
      font-weight: bold;
      font-style: italic;
    }

    .round-action-edit, .round-action-remove {
      text-align: left;
      font-size: smaller;
    }

    td {
      text-align: right;
    }
  }
}

// Handles the content of the panel, i.e., games table and completeness button
.panel-body {

  // Round labels and notices in panels
  .round-panel-notice {
    font-size: small;
    text-align: center;
    width: 100%;
    color: lightcoral;
  }

  table, .round-games-table {
    min-width: 100% !important;
    text-align: center;
    thead {
      th {
        text-align: center;
      }
    }
    tbody {
      td {
        text-align: center;
        padding-bottom: 2em;

        // Styles for action icons and buttons in rounds
        // Apply default red color to all glyphicons in pools
        .round-action-eliminate {
          color: red;
        }

      }
    }
  }
}


