
/***************************Style without using Bootstrap*************************
 * 
 * 
 * 
 */
@media screen and (min-width: 1000px) and (max-width:1500px) {
  body {
      height: 1340px;
      font-family:"Helvetica";
      background-size:cover;
    }
 .sideMenu,  #content {
   background:#ffffff;
   min-height: 71.5%;
   }
  .container {
    height: 100vh;
   }
}
body {
    
}
.row{
    height: 200px !important;
}
 #rowdiv {
 height: 167px !important;
 }
 
#poolRow {
      height: 171px !important;
}
/************HEADER CSS*********/
header {
 
height: 219px;
}
.row {
    width:100%;
}
/*******LOGO DIV**************/
.logo {
 float: left;
width: 45%;
 padding: 0px 0 0 20px;
 }

.logo img {
   width:95%;
 }
/******************/

/*****************USER PROFILE DIV********************/
.user {
    width:35%;
    position:relative;
    float: right;
    height: 162px;
}

.user ul { 
    display: block; 
    width:15%;
    float:right;
    padding: 0 20px 0 0;
}

.user ul li {
   
    height: auto;
    line-height:32px;
    list-style: none;
    padding: 0 10px 10px 0;
   

}
.user ul li .profil {
    background:url(image_path('frontend/IconProfil.png'))no-repeat;
    line-height:32px;
    list-style: none;
    padding-left: 20px;

}
.user ul li .profil:hover {
    background:url(image_path('frontend/IconProfilHover.png'))no-repeat;
}

.user ul li .conf {
   background:url(image_path('frontend/IconConf.png'))no-repeat;
    line-height:32px;
    list-style: none;
    padding-left: 20px;
    }
    
.user ul li .conf:hover {
   background:url(image_path('frontend/IconConfHover.png'))no-repeat;
}

.user ul li .notif {
    background:url(image_path('frontend/IconNotif.png'))no-repeat;
    line-height:32px;
    list-style: none;
    padding-left: 20px;
}

.user ul li .notif:hover {
    background:url(image_path('frontend/IconNotifHover.png'))no-repeat;
}

#desc {
 float: right;
display: block;
background-image: url(image_path('http://flp.appid.tn/img/ProfilBg.png'));
background-position: center;
background-size: cover !important;
background-repeat: no-repeat no-repeat;
margin: 3% 0 0 1%;
padding: 4%;
height: 110px;
width: 58%;
 }

#Avatar {
 float: left;
 width: 50%;
 }
#Name {
 width: 50%;
 color: #5d646a;
 font:12px "Myriad Pro";
 }
#Configuration {
    float: left;
    width: 100%;
    color: #5d646a;
    font:12px "Myriad Pro";
 }
#Configuration ul {
     display: block; 
    width:100%;
    float:none;
    padding: 0 20px 0 0;
 }
/********************NAVBAR******************/
#IconMenu {
    display: none;
    /*background: url(/frontend/IconMenu.png)12% center no-repeat;*/
    width: 8%;
    float: left;
    padding: 34px;
    position: absolute;

}
.navB {
    background:#192026 ;
    width:100%;
    height: 70px;
    position: relative;
    z-index: 1;
 }

.navB ul {
    float:right;
    list-style:none;
    }
.navB ul li {
    display:inline; 
    padding: 0 1px;
}
.navB ul li a {
text-decoration: none;
}

/***** modification for new dashboard design **/
#content {
    background: #ebebeb;
    width:inherit;
    height: 1000px;
}
/*******************************SideMenu********************/
.sideMenu {
  width:200px;
  position:absolute;
  background:#1e252b ;

  height:1000px;
  z-index: 0;
}

.sideMenu ul {
  padding:0;
  list-style: none;
}

/**** modification for new dashboard design **/
.sideMenu ul li {
 padding: 34px 0 0 24px;
 min-height: 64px;
 display: inline-block;
 border-bottom: 1px solid #000104;
 width: 88%;
}
.sideMenu ul ul {
  background: #1B1E1F;
  margin: 34% 0 0px -14%;
  position: relative;
  padding: 0%;
  width: 195px;
  border-right: 6px solid #d45112;
  bottom: 40%;
  left: 0;
  min-height: 71px;
}
.sideMenu ul ul li {
  padding: 11px;
  border-bottom: 1px solid #2B2C2E;
  height:35px;
}
.sideMenu ul ul li a {
  padding: 17px;
  opacity: 0.5 !important;
  font-weight: 200 !important;
  font-size: 0.9em;
}
.sideMenu ul ul li a span {
  display: inline;
  font-size: 0.9em;
  padding: 0 0 0 6px;
  font-family: Helvetica;
}
.sideMenu ul ul li a:hover{
  opacity: 1 !important;
}
.fa-lg {
font-size: 1.8em !important;
line-height: 0.75em;
vertical-align: -15%;
}

.sideMenu ul li a {
  opacity: 0.5;
  color: white;
  font-family:"Myriad Pro";
    text-decoration: none;
    width:100px;
    height:inherit;
     }
     
/**** modification for new dashboard design **/     
.sideMenu ul li a span {
  display: inline;
  font-size: 1.2em;
  padding: 0 0 0 15px;
  font-family: Helvetica;
 }

/**** modification for new dashboard design **/
 .sideMenu ul li a:hover ,
 .sideMenu ul li.activeI a  {
     opacity: 1;
    color: #FFFFFF;
  }

#subMenu {
    background:#171e23;
    border-right:5px solid #f26522;
    display:none;
  }


/**** modification for new dashboard design **/
.activeLi {
/* border-right: 5px solid #f26522; */
background: url(image_path('frontend/triangle.png'))100% no-repeat,
            linear-gradient(#f26522, #d45112);
background-position: right center;
background-position-x: 100%;
margin-right: 0 !important;
color: white;
padding-right: 0 !important;
  }
  
.activeLi a {
 opacity: 1 !important;
 color: #FFFFFF !important;

}

/* POOL MANAGEMENT*/
.pools,
.cash {
 margin: 34px 0 0 211px;
 width: 80%;
 padding: 23px 0 0 0;
 position: relative;
 font: 15px 'Helvetica';
 }
 .cash {
     width: 100% !important;
     margin: 24px 0 0 114px !important;
 }
 /** table CSS modif for contest and cash pages ***/
    
.pools h1,
.cash h1 {
color: #1a2024;
margin-left: 3%;
}


#overviewArea {
  overflow: auto;
  margin-top: 5%;
  margin-left: 5%;
  margin-right: 5%;
  margin-bottom: 2%;
  max-height: 500px;
  border-style: solid;
  padding: 1%;
}

table{
 margin-left: 0;
 margin-top: 4%;
 }
 
table tr td {
 height:54px;    
 color: #5d646a;

 }

table tbody tr:nth-child(2n+1) {
 background-color: #FFFFFF;
 }
table tbody tr:nth-child(2n+2) {
  background-color: #fbfbfb;
 }

table tbody tr:nth-child(2n+1) td:nth-child(1) {
    background-color:#f37421;
    box-shadow: 0px -2px 0px #e86e1f;
    width:9%;
}
table tbody tr:nth-child(2n+2) td:nth-child(1) {
    background-color:#f58d49;
    box-shadow: 0px -2px 0px #e86e1f;
    width:9%;
}
table tbody tr td img {
 width: 40%;
 margin: 0 auto;
 }

tbody tr td a {
color: #5d646a;
text-decoration: none;
}
tbody tr td a:hover {
color: #000000;
text-decoration: underline;
}
 
thead {
background-image: linear-gradient(white, #F0EDED);
 }

thead tr th {
 border: none;
 height: 57px;
 font-size: 1.1em;
 color: #687178;
 }
 
/*****************cash modif °°°°°°°°°°°°°°°°°°°°*/
span.ybalance {
background: #ffffff;
padding: 3% 21% 3% 6%;
}
span.balanc {
background: #5d646a;
padding: 3% 18% 3% 7%;
color: white;
}
div#balance {
float: right;
margin: 5% 0 0 0;
width: 50%;
}
/**************************************Pool PAge MEnu *************************************
 * 
 */

#ChangeMenuElementInformation {
width: 65%;

position: relative;
float: left;
margin: 1em 0px 0px 16.5em;
 }
.poolContent {
 display:none;
 margin: 1em 0 0 20em;
 width: 50%;
 height: 400px;
 position: relative;
 float: left;
 }

/************** Validation Page *********/
#validationElement {
 width: 50%;
 height: 400px;
 position: relative;
 margin: 1em 0px 0px 20em;
 }
#balance:after {
 content:"\A";
 white-space:pre;
 }

#ticketsLabel:after {
 content:"\A";
 white-space:pre;   
 }

.load {
 -webkit-animation-name: flpLoadEffect;
 -moz-animation-name: flpLoadEffect;
 -ms-animation-name: flpLoadEffect;
 -o-animation-name: flpLoadEffect;
 animation-name: flpLoadEffect;
 -webkit-animation-duration: 2s;
 -moz-animation-duration: 2s;
 -webkit-animation-iteration-count: infinite;
 -moz-animation-iteration-count: infinite;
 -ms-animation-iteration-count: infinite;
 -o-animation-iteration-count: infinite;
 animation-iteration-count: infinite;
 /*  type of animation */
 -webkit-animation-timing-function: ease-in-out;
 -moz-animation-timing-function: ease-in-out;
 -ms-animation-timing-function: ease-in-out;
 -o-animation-timing-function: ease-in-out;
 animation-timing-function: ease-in-out;
 }
 
@keyframes flpLoadEffect {
   0% {
    transform:rotate(0deg);
    -ms-transform:rotate(0deg);
    -moz-transform:rotate(0deg);
    -webkit-transform:rotate(0deg);
    -o-transform:rotate(0deg)
    }
   50% {
    transform:rotate(180deg);
    -ms-transform:rotate(180deg);
    -moz-transform:rotate(180deg);
    -webkit-transform:rotate(180deg);
    -o-transform:rotate(180deg);
    }
   100% {
    transform:rotate(360deg);
    -ms-transform:rotate(360deg);
    -moz-transform:rotate(360deg);
    -webkit-transform:rotate(360deg);
    -o-transform:rotate(360deg);
    }
}
 
@-webkit-keyframes flpLoadEffect {
   0% {
    transform:rotate(0deg);
    -ms-transform:rotate(0deg);
    -moz-transform:rotate(0deg);
    -webkit-transform:rotate(0deg);
    -o-transform:rotate(0deg);
    }
   50%{
    transform:rotate(180deg);
    -ms-transform:rotate(180deg);
    -moz-transform:rotate(180deg);
    -webkit-transform:rotate(180deg);
    -o-transform:rotate(180deg);
    }
   100% {
    transform:rotate(360deg);
    -ms-transform:rotate(360deg);
    -moz-transform:rotate(360deg);
    -webkit-transform:rotate(360deg);
    -o-transform:rotate(360deg);
    }
}

/****************POOL MENU ***************/
#poolnav {
float: left;
margin: 2% auto auto 4%;
width: 92%;
height: 3em;
background-image: linear-gradient(#ffffff 50% ,#F7F7F7 100%);
border: 1px solid #dddddd;
 }
 
#subMenuPool {
 margin: 0;
 padding: 0;
 list-style: none;
 float: left;
 position: relative;
 width:100%;
 left: 0;
 z-index: 1;
 display: inline;
 }
 
#subMenuPool li {
 float: left;
 width: 24.4%;
  }
 
#subMenuPool .last a{
 border-right: none !important;
 }
 
#subMenuPool li a {
 font-family: myriad pro;
 display: block;
 font-size: 1.1em;
 font-weight: bold;
 line-height: 18px;
 text-align: center;
 color:#5d646a;
 text-decoration: none;
 padding:6%;
 border-right: 1px solid #dfdfdf;
 }

#subMenuPool li a:hover,#subMenuPool li a.actives {
	background: url(image_path('frontend/trianglepools.png'))bottom center no-repeat, linear-gradient(#f26522, #d45112);
	color: white;
 }

#subMenuPool li.last a{
width: 100%;

}
#PoolsWeek tr{
background: #f26522;
font-size: 1.4em;
}

#PoolsWeek td a{
color: black;
text-decoration: none;
}

.picksTable {
    height: 1000px;
}

.contentpools{
	text-align: center;
	clear: both;
	padding: 3%;
	margin: 5% auto auto 4%;
	width: 86.5%;
	background: white;
	display: table;
}
/******************pools table**********/
#TabWeek{
	width: 100%;
	margin-top: 3%;
    margin-bottom: 1%;
	border: 1px solid #e6e6e6;
}
#TabWeek tbody tr td{
	width: 30%;
	background: white;
	box-shadow: none;
	border-left: 1px solid #dddddd;
}
#TabWeek tbody tr td:first-child{
	border: none;
}
#TabWeek thead tr th {
	background:linear-gradient(#fcfcfc, #fefefe);
	border-right:1px solid #dddddd;
}
/*****************End Pools table***********/
.RegisterDiv {
 position: relative;
 bottom: 0;
 width: 23.9%;
 float: right;
 top: 2em;
 }
 
#register {
 background: #f26522;
 padding: 14px !important;
  width: 8em;
 font-size: 16px;
 border: #40474C;
 color: #000000;
 }
 
#register:hover {
 background: #000000;
 color: #f26522;
}
/*******my Poolpage ****/
#scheduleWeek {
 background: rgba(29, 25, 19, 1);
 height: 1em;
 padding: 2% 0;
 font-size: 18px;
 color: #f26522;
 border: 1px solid #a9a9a9;
 }
 
#PoolsWeek {
/* margin: 2% 1%; */
margin-bottom: 1%;
width: 100%;
}
/****** register Ticket *******/
#registerTicketBlock,
#details {
 padding: 3%;
 }
 
#registerTicketBlock {
 text-align: center;
 }

#registerTicketBlock h4 {
 background:grey;
 }
 
#registerTicket {
 width: 3em;
 text-align: center;
 }
 
#details table {
 width:100%;
 }

#details table caption {
 background:grey;
 }

#PoolsWeek tr {
font-size: 1em;
height: 2em;
}

#PoolsWeek td {
 background:linear-gradient(#f5f5f5, #dddddd);
 text-align: center;
 border: 4px solid white;
 border-radius: 7px;
 color:#919191;
 padding: 1%;
 width:auto;
 box-shadow:none;
}
#PoolsWeek td:hover {
 background:linear-gradient(#e15b1c, #e75d1c);
 border-radius: 12px;
}
#PoolsWeek td:hover a {
	color: white;
}
#PoolsWeek td a{
color: #919191;
text-decoration: none;
}
table.pastPick {
    width: 100%;
 border: 1px solid #a9a9a9;
 text-align:center;
  }  

table.pastPick td {
width: 50%;
border-right: 1px solid #e9a9a9;
}
/**************picks table***/
#picks {
	border:1px solid #e9e9e9;
	width: 40%;
	margin: 3%;
	
}
#picks tr td{
	background:white !important;
	box-shadow:none;
	width:50%;
	border-right: 1px solid #e8e8e8;
}
#picks td:last-child{
	border: none;
}
#pastpicks {
background: linear-gradient(#fff, #efefef);
border: 1px solid #e9e9e9;
font-weight: bold;
font-size: 1em;
color: #676c70;
float: left;
margin: 0 auto;
padding: 2%;
width: 40%;
}
/******************************/
#lastPicks {
 float: right;
 width:50%;
 min-height: 200px;
 text-align: left;
 margin: 4% 0 0 3%;
}

#ticketPool {
    color: #f26522;
    margin: 1% 0% 5% 2%;
}

#weekAndPool {
 margin: 4% 0% 0%;
}
#choosenPick {
float: left;	
width: 30%;
}
#weekAndPool h3 {
	width: 80%;
color: #f26522;
}

#privacyAndSecurity{
    font-size:12px;
    margin-left: 32%;
bottom: 43%;
position: absolute;
color: #428bca;
text-decoration: none;
}
#rules {
font-size: 12px;
margin-left: 26%;
bottom: 43%;
position: absolute;
color: #428bca;
text-decoration: none;
}

.loadingElement{
    margin: 19px 0 0 211px;  
    width: 54%; 
    position: absolute;  
    height: inherit;
    z-index: 1;
    background: rgba(255,255,255,0.9);
}
