

@media screen and (min-width: 1000px) and (max-width:1500px){
 body {
  zoom:75% !important;
  }
}


/***************************home Page ****************/
body {
 background:url(image_path('frontend/bgHome3.jpg')) no-repeat center center;
 font-family:"verdana" !important;
 margin: 0 auto;
 padding: 0;
 -webkit-background-size: 100%;
 -moz-background-size: cover;
 -o-background-size: cover;
 background-size: 100% 100%;/*****FOr Firefox *******/
 }

.row {
 height: 200px !important;
 }
 
.container {
 width: 74em !important; 
 margin:0 auto;
 padding:0 !important;
 height:auto;
 background:url(image_path('frontend/bgContent.jpg')) no-repeat;
 background-size:cover;
 }
 
header {
    height:300px;
}
/*******LOGO*********/

#logo {
 margin-top:0px auto 0px 3em;
 top:0;
 display: inline-block;
 width:100%;
 }
 #divLogo{
     padding-top: 24px;
 }
/********* LOGIN FROM **********/
.login {
    top:5em;
 }

.login .form-group {
 width: 40% !important;
 }
 
.login .form-group label{
  margin-left: 1em;
  color:#000;
  font: normal 16px Arial, Helvetica, sans-serif;
  }

.login input {
 background:#d8d8d8;
 border: 0 none;
 font: 12px Arial,Helvetica,Sans-serif;
 -webkit-border-radius: 20px;
 -moz-border-radius: 20px;
 border-radius: 20px;
 -webkit-box-shadow: 0 1px 0 rgba(255, 255, 255, 0.1), 0 1px 3px rgba(0, 0, 0, 0.2) inset;
 -moz-box-shadow: 0 1px 0 rgba(255, 255, 255, 0.1), 0 1px 3px rgba(0, 0, 0, 0.2) inset;
 box-shadow: 0 1px 0 rgba(255, 255, 255, 0.1), 0 1px 3px rgba(0, 0, 0, 0.2) inset;
 -webkit-transition: all 0.7s ease 0s;
 -moz-transition: all 0.7s ease 0s;
 -o-transition: all 0.7s ease 0s;
 transition: all 0.7s ease 0s;
    width: 150px;
 }

.login .log {
 background:url(image_path('frontend/log.png')) no-repeat;
 box-shadow: none;
 width:10%;
 height:40px;
 margin-top:5%;
 border:none;
 border-radius:100px;
 }

/********NAVBAR******/
.navmobile {
    display:none;
}
.navbar {
 border-radius:0px !important;
 height: 70px !important;
 }
 
.nav {
 margin-left:5em !important;
 }
 
.nav li {
 width: auto;
 }
 
.nav li a {
 margin-top: 0.5em;
 color: white !important;
 font-size: 15px;
 }
 
.nav li a:hover {
 color: #f1592a !important;
 }
 
.navbar-inverse {
 border-bottom: 7px solid #f1592a !important;
 box-shadow: 0px 5px 15px #aaa;
 }

#Search {
 background: url(image_path('frontend/search.png')) no-repeat 10px 9px #000;
 padding: 6px 15px 6px 35px;
 border:1px solid #16191c;
 border-radius:15px;   
 }

.navbar-form.navbar-right:last-child {
 margin-right: 0px !important;
 }

.bol {
 width: 11% !important;
 top: -11px !important;
 }
 #iconMenu {
     display:none;
 }
/********CAROUSEL*********/
.SlidMobile{
    display:none;
}
.carousel {
 width: 719px;
 margin:0 auto;
 padding:0;
 }
.carousel-inner {
 width:960px;
 margin: 0 auto;
 border: 6px solid #f1592a;
 border-radius: 10px;
 }

.carousel-control.left {
 margin-left: -20%;
 background:url(image_path('frontend/FLeft.png')) no-repeat center center !important  ;
 opacity: 1 !important;
 }

.carousel-control.right {
 margin-right: -20%;
 background:url(image_path('frontend/FRight.png')) no-repeat center center !important ;
 opacity: 1 !important;
 }
.ombre {
 background: url(image_path('frontend/ombre.png')) no-repeat center bottom;
 margin-top: -1.5%;
 height: 36px;
 }

/******** TABLE CONTENT ******/

#tab {
 background:transparent;
 color: white;
 border: none;
 }
 
.content {
 width: 960px;
 padding: 2em;
 height: 800px;
 background: #d4d4d4;
 margin: 50px auto 1.5em auto;
 box-shadow: 14px 5px 16px #B1B1B1;
 padding-bottom: 0px !important;
 }

#tab thead th {
 font-size:18px;
 border: none;
 color: #f1592a;
 }

#tab td {
 font: normal 14px;
 font-family:"Lucida Sans";
 padding-bottom:2em;
 border: none;
 color:#000;
 }
#tab .clo1 {
 width:500px;
 }
#tab .fusion {
 width: 50px;
 color: #f1592a;
 }
 
/*****************FOOTER**************************/
#footer {
 height:80px;
 background:url(image_path('frontend/footer.png'))repeat-x;
 border-bottom: 7px solid #f1592a !important;
 bottom: 0;
 margin-bottom: 0;
 z-index: 1;
 position: relative;
 }
 
.ContentFooter {
 width: 960px;
    margin:0 auto;
    height: inherit;
    padding: 1em;
 }
 
.ContentFooter p {
 font-family: "Lucida Sans";
 padding: 0px;
 margin: 0;
 padding-top: 1.5em;
 color:white;
 }
 
.Tw {
 top: 1em !important;
 background: url(image_path('frontend/tw.png'))no-repeat;
 height: 34px;
 width: 35px !important;
 }
 
.Fb {
 top: 1em !important;
 background: url(image_path('frontend/Fb.png'))no-repeat;
 height: 35px;
 width: 35px !important;
 }
 
.in {
 top: 0.97em !important;
 background: url(image_path('frontend/in.png'))no-repeat;
 height: 36px;
 width: 36px !important;
 }

#social {
 float: right;
 margin-top:-3px;
 padding-right: 3%;
 }

#rules {
font-size: 12px;
margin-left: 30%;
bottom: 18%;
position: absolute;
color: #428bca;
text-decoration: none;
}

 /********Page ABout Content Style ********/
.AboutContent {
 text-align:justify;
}

.AboutContent ul{
    list-style-type:circle;
}


#fatLAdyLarge{
	width: 14%;
right: 27%;
position: absolute;
margin-top: -3%;
}
#privacyAndSecurity{
	font-size:12px;
	margin-left: 36%;
bottom: 18%;
position: absolute;
color: #428bca;
text-decoration: none;
}

#privacy{
	list-style-type: none;
	padding:0;
}

#privacy li:before{
	content: '-';
}


#privacy li{
	margin-top:1%;
}

#registerForm input, #registerForm select{
	width:30%;
}

.errorInput{
border-color: red;
outline: red;
-webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(255, 0,0, 1) !important;
box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(255, 0,0, 1) !important;
}
