/***********************CSS TAblette *****************
 * 
 */ 
 

@media  only screen and (min-width: 600px) and (max-width: 748px) {
 body {
  width:inherit !important;
  overflow-x: hidden !important;
  }
      
.container {
   width: 80% !important;
  }
  
.login {
 display: inline-block;
 position: relative;
 width: 76% !important;
 height: 30px !important;
 margin-right: -27% !important;
 }
 
#login {
 width: inherit;
 }
 .login .form-group {
 width: 31% !important;
 margin: 0;
 display: inline-block !important;
 padding: 0 !important;
 }
 
.login .log {
 background: url(image_path('frontend/log.png')) no-repeat;
 box-shadow: none;
 width: 28% !important;
 height: 40px !important;
 margin-top: 0% !important;
 border: none;
 border-radius: 100px;
 }
  }  
  
/************for IPAD **************/
@media only screen and (min-width: 748px) and (max-width: 1000px) {
 html{
  width:100% !important;
  overflow-x: hidden !important;
  }
        
 body{
  width:100% !important;
  overflow-x: hidden !important;
  background:url(image_path('frontend/bgHome3.jpg')) no-repeat;
  background-size:cover;
  font-family:"Helvetica" !important;
  margin: 0 auto;
  padding: 0;
  }
      
 .container {
  width: 95% !important;
  margin:0 auto;
  padding:0 !important;
  height:auto;
  background:url(image_path('frontend/bgContent.jpg')) no-repeat;
  background-size:cover;
  }
     
 /************Header CSS LOGO LOGIN NAVBAR *************/ 
    /****************user Dashboard***********/
 #rowdiv {
  height: 200px !important;
  }
  
 .sideMenu,#content {
   height: 1000px;
   }
   
 .row {
  height: 177px !important;
  }
  
 #logo {
  margin-top: -17px;
  width: 39% !important;
  }
 
 .login {
  float: right;
  width: 55%;
  top: -86px;
  margin-right: -9%;
  }
  
 .login .form-group {
  width: 31% !important;
  }
  
 .login .form-group label {
  margin-left: 1em;
  color: #a3a3a3;
  font: normal 12px Arial, Helvetica, sans-serif;
 }

 .login input {
  background:#d8d8d8;
  border: 0 none;
  font: 12px Arial,Helvetica,Sans-serif;
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  border-radius: 20px;
  -webkit-box-shadow: 0 1px 0 rgba(255, 255, 255, 0.1), 0 1px 3px rgba(0, 0, 0, 0.2) inset;
  -moz-box-shadow: 0 1px 0 rgba(255, 255, 255, 0.1), 0 1px 3px rgba(0, 0, 0, 0.2) inset;
  box-shadow: 0 1px 0 rgba(255, 255, 255, 0.1), 0 1px 3px rgba(0, 0, 0, 0.2) inset;
  -webkit-transition: all 0.7s ease 0s;
  -moz-transition: all 0.7s ease 0s;
  -o-transition: all 0.7s ease 0s;
  transition: all 0.7s ease 0s;
  }

 .login .log {
  background:url(image_path('frontend/log.png')) no-repeat;
  box-shadow: none;
  width:10%;
  height:40px;
  margin-top:5%;
  border:none;
  border-radius:100px;
  }
  
 .page-header {
  width: 100%;
  border-bottom:none !important;
  }

  /*************NAvBAR*******/

 .bol {
  width: 14% !important;
  }
  
 .navbar-nav {
  float: left;
  margin:  0 !important;
  padding: 0 0 0 3% !important;
  }
  
 .navbar-right {
  margin-right: -16% !important;
  float: right !important;
  }  
  
 nav ul a,
 nav ul a:visited {
  width: auto !important;
  }
  
 .nav li a {
  margin-top: 0.5em;
  color: white !important;
  font-size: 18px;
  }
  
 .nav li a:hover {
  color: #f1592a !important;
  }
  
 .navbar-inverse {
  border-bottom: 7px solid #f1592a !important;
  box-shadow: 0px 5px 15px #aaa;
  }
    
 #rightNav {
  margin-right: -34em !important;
  }    
    
  /*********************************CAROUSEL CSS ***************/ 
 .carousel {
  width: 67% !important;
  margin:0 auto !important;
  }
  
 .carousel-inner {
  width:960px;
  margin: 0 auto;
  border: 6px solid #f1592a;
  border-radius: 10px;
  }
  
.carousel-control.left {
  margin-left: -20%;
  background:url(image_path('frontend/FLeft.png')) no-repeat center center !important  ;
  opacity: 1 !important;
  }

 .carousel-control.right {
  margin-right: -20%;
  background:url(image_path('frontend/FRight.png')) no-repeat center center !important ;
  opacity: 1 !important;
  }
  
 .ombre {
  background: url(image_path('frontend/ombre.png')) no-repeat center bottom;
  margin-top: -3.5%;
  background-size: 72%;
  height: 36px;
 }
 
 #search {
  display:none !important;
  }
  
  /*************************CONTENT CSS****************/
 .content {
  width: 50em !important;
  padding:2em 0 0 0 !important;
  background: #d4d4d4;
  margin: 50px auto;
  box-shadow: 14px 5px 16px #B1B1B1;
  padding-bottom: 0px !important;
  margin-bottom: 0px !important;
  }

 #tab thead th {
  font-size: 15px; 
  border: none;
  color: #f1592a;
  }

 #tab td{
  font: normal 14px;
  font-size: 11px;
  font-family:"Helvetica";
  padding-bottom:2em;
  border: none;
  color:#000;
  }


/****************CSS FOOTER*****************/
 #footer {
  height:80px;
  background:url(image_path('frontend/footer.png'))repeat-x;
  border-bottom: 7px solid #f1592a !important;
  bottom: 0;
  margin-bottom: 0;
 }
 
 .ContentFooter {
  width: inherit !important;
  }

 .ContentFooter p {
  display:none !important;
  }
  
 #social {
  float: right;
  margin-top: -5px !important;
  padding-right: 43px !important;
  width: 1% !important;
 }

 .Tw {
  top: 1em !important;
  background: url(image_path('frontend/tw.png'))no-repeat;
  height: 34px;
  width: 35px !important;
  }
  
 .Fb {
  top: 1em !important;
  background: url(image_path('frontend/Fb.png'))no-repeat;
  height: 35px;
  width: 35px !important;
  }
  
 .in {
  top: 0.97em !important;
  background: url(image_path('frontend/in.png'))no-repeat;
  height: 36px;
  width: 36px !important;
  }
}

 