<!-- @brief Partial file for rendering a round history model. Called from round history link in heading.
     @author Mehdi Mahmoudi
-->

<!---- Round has games ---->
<% if round_history.round.with_games %>
    <div class="panel panel-danger">

      <!--  Round metadata (time stamp and name) -->
      <div class="panel-heading">
        <table>
          <tbody>
          <tr>
            <td class="round-panel-title">
              Round: <%= round_history.round.name %>
            </td>
            <td class="round-action">
              Last updated:
              <%= round_history.updated_at %>
            </td>
            <td>
              <span class="glyphicon glyphicon-check update-flag"> </span>
            </td>
          </tr>
          </tbody>
        </table>

      </div>
      <div class="panel-body">
        <div style="text-align: left">
          <p>
            <strong>Start Date: </strong> <%= round_history.round.start_date %>
          </p>
          <p>
            <strong>End Date: </strong> <%= round_history.round.end_date %>
          </p>
          <p>
            <strong>Games:</strong>
          </p>

          <table class="table table-hover round-games-table">
            <thead>
            <tr>
              <th>Team 1</th>
              <th>Score</th>
              <th>Team 2</th>
              <th>Score</th>
              <th>Winner</th>
            </tr>
            </thead>
            <tbody>

            <!-- Display an empty notice when there's nothing to display -->
            <% if round_history.games.exists? %>
                <% round_history.games.order(:date).each do |game| %>
                    <!-- Do not display form helpers (score and button)
                         and eliminate button when rendering history -->
                    <tr>
                      <td style="text-align: center"><%= Team.find_by(id: game.first_team_id).name %></td>
                      <td>
                        <%= label_tag game.first_team_score%>
                      </td>
                      <td style="text-align: center"><%= Team.find_by(id: game.second_team_id).name %></td>
                      <td>
                        <%= label_tag game.second_team_score%>
                      </td>
                      <td>
                        <% if Team.find_by(id: game.winner_id) %>
                            <%= label_tag Team.find_by(id: game.winner_id).name%>
                        <% else %>
                            -
                        <% end %>
                      </td>
                    </tr>
                <% end %>

            <% else %>
                <tr>
                  <div class="alert alert-info">
                    <strong>Round history is empty. It will be updated as teams get eliminated.</strong>
                  </div>
                </tr>
            <% end %>
            <tr>
              <td colspan="5">
                <%= link_to 'Dismiss',
                            manage_pool_path(round_history.round.pool),
                            class: "btn btn-info round-action-complete" %>
              </td>
            </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
    <!---- Round without games ---->
<% else %>

    <div class="panel panel-info">
      <div class="panel-heading">
        <table>
          <tbody>
          <tr>
            <td class="round-panel-title">
              Round: <%= round_history.round.name %>
            </td>
            <td class="round-action">
              Last updated:
              <%= round_history.updated_at %>
            </td>
            <td>
              <span class="glyphicon glyphicon-check update-flag"> </span>
            </td>
          </tr>
          </tbody>
        </table>
      </div>
      <div class="panel-body">
        <div style="text-align: left">
          <p>
            <strong>Start Date: </strong> <%= round_history.round.start_date %>
          </p>
          <p>
            <strong>End Date: </strong> <%= round_history.round.end_date %>
          </p>

          <p class="round-panel-notice">
            <strong>This round has no games</strong>
          </p>
          <table class="table table-hover round-games-table">
            <thead>
            <tr>
              <th>Team</th>
              <th>Outcome</th>
            </tr>
            </thead>
            <tbody>

            <% if round_history.games.exists? %>
                <% round_history.games.order(:date).each do |game| %>
                    <%= bootstrap_form_for(game) do |f| %>
                        <tr>
                          <td><%= Team.find_by(id: game.first_team_id).name %></td>

                          <!-- When a team passes the qualifications session it's associated to the
                               winner id in the controller and is displayed as such in the round history -->
                          <td>
                            <% if game.winner_id == game.first_team_id %>
                                Advances
                            <% else %>
                                Eliminated
                            <% end %>
                          </td>
                        </tr>
                    <% end %>
                <% end %>
            <% else %>
                <tr>
                  <div class="alert alert-info">
                    <strong>Round history is empty. It will be updated as teams get eliminated.</strong>
                  </div>
                </tr>
            <% end %>

            <tr>
              <td colspan="2">
                <%= link_to 'Dismiss', manage_pool_path(round_history.round.pool), class: "btn btn-info" %>
              </td>
            </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
<% end %>
