<!DOCTYPE html>
<html>
<head>
  <title>FLP</title>
  <%= stylesheet_link_tag "backend", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "backend", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
</head>
<body>

<div id="columns">

  <!-- Navigation sidebar -->
  <div id="sidebar">
    <ul class="nav nav-pills nav-stacked">
      <!-- Logo/Home -->
      <li>
        <%= link_to image_tag("flp-logo-backend.png", alt:"Admin Dashboard", id: "logo"),
                    pools_path, class: "logo-link" %>
      </li>

    </ul>

    <!-- Sidebar links to management views -->
    <table class="table table-hover">
      <tbody>
        <tr >
          <td><span class="glyphicon glyphicon-home"></span></td>
          <td><%= link_to 'Home', pools_path %></td>
        </tr>
        <tr>
          <td><span class="glyphicon glyphicon-tower"></span></td>
          <td><%= link_to 'Pools', pools_path %></td>
        </tr>
        <tr>
          <td><span class="glyphicon glyphicon-globe"></span></td>
          <td><%= link_to 'Teams', teams_path %></td>
        </tr>
        <tr>
          <td><span class="glyphicon glyphicon-user"></span></td>
          <td><%= link_to 'Users', users_path %></td>
        </tr>
        <tr>
          <td><span class="glyphicon glyphicon-usd"></span></td>
          <td data-no-turbolink="true"><%=link_to 'Credit Tickets', users_balances_path %></td>
        </tr>
        <tr>
          <td><span class="glyphicon glyphicon-envelope"></span></td>
          <td>Send Announcements</td>
        </tr>
        <tr>
          <td><span class="glyphicon glyphicon-wrench menu-item-icon"></span></td>
          <td>Settings</td>
        </tr>
        <tr>
          <td><span class="glyphicon glyphicon-off menu-item-icon"></span></td>
          <td><%= link_to 'Logout', '/admin' , method: :post %></td>
        </tr>
      </tbody>

    </table>

  </div>

  <!-- Top navigation bar -->
  <nav class="nav navbar-default" id="header" role="navigation">

  </nav>

  <!-- Main content area for model rendering and manipulation -->
  <div id="main">

    <!-- Handles acknowledge/failure alerts upon DB updates -->
    <% if flash[:success] %>
        <div class="alert alert-success alert-dismissable">
          <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
          <strong>Operation succeeded: </strong><%= flash[:notice] %>
        </div>

    <% else %>
        <!-- For initial state before any update is done -->
        <% if flash[:notice] %>
            <div class="alert alert-warning alert-dismissable">
              <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
              <strong>Error: </strong><%= flash[:notice] %>
            </div>
        <% end %>
    <% end %>

    <% flash[:notice] = nil %>
    <% flash[:success] = nil %>

    <%= yield %>
  </div>
</div>



</body>
</html>