<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <title>Fat Lady Pools</title>

  <%= stylesheet_link_tag 'style', :media => 'screen' %>
  <%= stylesheet_link_tag "dashboard", media: "all",
                          "data-turbolinks-track" => true %>
  <%= stylesheet_link_tag 'tab', :media => 'screen' %>
  <%= stylesheet_link_tag 'phone', :media => 'screen' %>
  <%= stylesheet_link_tag 'style2', :media => 'screen' %>
  <%= stylesheet_link_tag 'font-awesome', :media => 'screen' %>
  <%= stylesheet_link_tag 'flags/basic.css', :media => 'screen' %>
  <%= javascript_include_tag "jquery", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "dashboard", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>

</head>
<body>
<div class="container">

  <!-------header section ------>
  <header class="page-header">
    <div class="row" style="height: 200px;">

      <!------Logo div ----->
      <div class="logo" style="margin-top: 1%">
        <a href="contests"> <%= image_tag("frontend/LOGO1.png", :alt => "logo", :id => "logo") %></a>
      </div>

      <!-- User information and configuration  ----->
      <div class="user" style="margin-right: 2%; margin-top: 2%;">
        <div id="desc">
          <div id="profil">
            <div id="Avatar">
              <%= image_tag("frontend/Avatar.png") %>

              <%= link_to(image_tag("frontend/Logout.png"), visitor_logout_path) %>
            </div>
            <div id="Name" style="float:right;width: 50%;">
              <p style="font-weight: bold; font-size: large">My Account</p>
              <p><%= @current_user.first_name %> <%=@current_user.last_name %> (<%= @current_user.username %>)</p>
              <p style="font-style: italic">Balance: $<%= @current_user.balance %></p>
            </div>
          </div>
        </div>


        <div id="conf" style="display: none">
          <div id="Configuration">
            <ul>
              <li>Edit Profile</li>
              <li>Dashboard</li>
            </ul>
          </div>
        </div>
        <div id="notif" style="display: none"><p>Notifications</p></div>
      </div>
    </div>

    <!-- NavBar ------>
    <nav class="navB">
      <div id="IconMenu"></div>
      <ul>
        <li class="bol">
          <%= link_to dashboard_contests_path do  %>
              <%= image_tag("frontend/FootAM.png", :alt => "FootAM", :style =>"height: 37px;margin-left: -6px !important;") %>
          <% end %>
        </li>
        <li class="bol">
          <%= link_to dashboard_contests_path do  %>
              <%= image_tag("frontend/Foot.png", :alt => "foot") %>
          <% end %>
        </li>
        <li class="bol">
          <%= link_to dashboard_contests_path do  %>
              <%= image_tag("frontend/Hockey.png", :alt => "hockey") %>
          <% end %>
        </li>
        <li class="bol">
          <%= link_to dashboard_contests_path do  %>
              <%= image_tag("frontend/Basket.png", :alt => "Basket") %>
          <% end %>
        </li>
      </ul>
    </nav>

  </header>
  <!---End Of Header ---->

  <!------Content Section ------>
  <div id="content">

    <!------Side MEnu ---->
    <div class="sideMenu">
      <ul>

        <li class="<%= controller.class == DashboardController and controller.action_name == 'contests'? 'activeLi' : '' %> ">
            <%=link_to image_tag("frontend/homeicon.png", :alt => "home")+raw('<span>Pools</span>'),dashboard_contests_path%>
          <ul>
            <li><a href="upcoming_pools"><%= image_tag("frontend/upcomingicon.png", :alt => "upcoming") %><span>Upcoming pools</span></a></li>
            <li><a href="current_pools"><%= image_tag("frontend/currenticon.png", :alt => "current") %><span>Current Pools</span></a></li>
          </ul>
        </li>
        <li class="<%= controller.class == DashboardController and controller.action_name == 'my_pools' ? 'activeLi' : '' %> ">
          <%=link_to image_tag("frontend/poolicon.png", :alt => "pools")+raw('<span>My Pools</span>'),dashboard_my_pools_path%>
        </li>
        <li class="<%= controller.class == DashboardController and controller.action_name == 'my_tickets' ? 'activeLi' : '' %> ">
          <%=link_to image_tag("frontend/cashicon.png", :alt => "cash")+raw('<span>My Account</span>'),dashboard_my_tickets_path%>
        </li>

      </ul>
    </div>

    <!--- POOLs Section ----->

    <div class="pools">
   <%=yield%>
    </div>
  </div>

  <!-----Footer Div ------>
  <div id="footer">
    <div class="ContentFooter">
      <%= image_tag("frontend/FooterLogo.png", :alt => "FLP", :style=>"width:13%;") %>
      <a id="social" class="in col-xs-1" href="http://instagram.com/fatladypools" target="_blank"></a>
      <a id="social" class="Tw col-xs-1" href="https://twitter.com/fatladypools" target="_blank"></a>
      <a  id="social" class="Fb col-xs-1" href="https://www.facebook.com/pages/Fat-Lady-Pools/265401553614050" target="_blank"></a>

      <%= link_to 'Rules', visitor_rules_path, id: 'rules'%>
      <%= link_to 'Privacy and Security Policy', visitor_privacy_path, id: 'privacyAndSecurity'%>

      <span style="color: white;position: absolute;margin: 1.5% 0% 0 1%;"><%= @version_details %></span>


    </div>
  </div>
</div>


<!-- Issue collector for JIRA -->
<script type="text/javascript" src="https://appidjira.atlassian.net/s/d41d8cd98f00b204e9800998ecf8427e/en_UShy604m-1988229788/6211/25/1.4.5/_/download/batch/com.atlassian.jira.collector.plugin.jira-issue-collector-plugin:issuecollector/com.atlassian.jira.collector.plugin.jira-issue-collector-plugin:issuecollector.js?collectorId=8c505774"></script>
<% if Rails.env.production? %>
    <%= render 'layouts/ga' %>
<% end %>
</body>

</html>