<!DOCTYPE html>

<html>
<head>
  <%= stylesheet_link_tag 'style', :media => 'screen' %>
  <%= stylesheet_link_tag 'tab', :media => 'screen' %>
  <%= stylesheet_link_tag 'phone', :media => 'screen' %>
  <%= stylesheet_link_tag 'bootstrap', :media => 'screen' %>
  <%= stylesheet_link_tag "frontend", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "jquery", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "bootstrap", "data-turbolinks-track" => true %>
  <%= favicon_link_tag 'favicon.ico' %>
  <%= csrf_meta_tags %>
  <title>Fat Lady Pools</title>
</head>
<body>
<div class="container">
  <header class="page-header">
    <!-- If redirected with a notice display it.
     Otherwise clear past notices -->
    <% if flash[:notice]  %>
        <% if !flash[:success] %>
        <div class="alert alert-danger alert-dismissable" style="width: 62%; margin: 0 auto;">
          <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
          <strong>Error: </strong><%= flash[:notice] %>
        </div>
        <% else %>
            <div class="alert alert-success alert-dismissable" style="width: 62%; margin: 0 auto;">
              <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
              <strong></strong><%= flash[:notice] %>
            </div>
        <% end %>
        <% flash[:notice] = nil %>
        <% flash[:success] = nil %>
    <% end %>
    <div class="row" >
      <div class="col-md-6" style="padding-top: 24px;margin-left: 1em;">
        <a href="/visitor/index.html">  <%= image_tag("frontend/LOGO1.png", :alt => "logo", :id => "logo") %>  </a>
      </div>

      <div class="login col-md-5">
        <!---integration of temlpate in rails for authetification form --->
        <%= bootstrap_form_tag(:html =>{:class=>"form-inline"}, :url=>"/visitor/login") do |f|%>
            <div class="form-group">
              <%= f.text_field(:username, :class=>"form-control col-md-3", :id=>"Username" ) %>
            </div>
            <div class="form-group">
              <%= f.password_field(:password, :class=>"form-control col-md-3", :id=>"Password") %>
            </div>
            <%= submit_tag("",:class=>"btn log") %>
            <%= link_to 'Sign Up', visitor_register_path, style: "float: right;margin: 4% 21% 0 0;" %>
            <%= link_to 'Forgot Password', visitor_password_reset_path, style: "float: right;margin: 4% 7% 0 0;" %>

        <% end %>
      </div>
    </div>

    <!------Navbar ------------>
    <nav class="navbar navbar-inverse" role="navigation">
      <ul class="nav navbar-nav">
        <li><%=link_to "HOME", visitor_index_path%></li>
        <li><%=link_to "ABOUT", visitor_about_path%></li>
        <li><%=link_to "POOLS", visitor_pools_path%></li>
        <li><%=link_to "CONTACT", "mailto:info@fatladypools.com"%></li>
      </ul>
      <ul class="nav navbar-nav navbar-right col-md-5" id="rightNav">
        <li class="bol"><a href="#"><%= image_tag("frontend/FootAM.png", :alt => "FootAM", :style =>"height: 37px;margin-left: -6px !important;") %></a></li>
        <li class="bol"><a href="#"><%= image_tag("frontend/Foot.png", :alt => "foot") %></a></li>
        <li class="bol"><a href="#"><%= image_tag("frontend/Hockey.png", :alt => "hockey") %></a></li>
        <li class="bol"><a href="#"><%= image_tag("frontend/Basket.png", :alt => "Basket") %></a></li>
      </ul>
    </nav>
  </header>
  <!---End header -->

  <!------------------Carousel div -------->
  <div id="carousel-example-generic" class="carousel slide" data-ride="carousel">
    <div class="carousel-inner">
      <div class="item active">
        <%= image_tag("frontend/Slide1.jpg", :alt => "FLP BasketBall Banner") %>

      </div>

      <div class="item">
        <%= image_tag("frontend/Slide2.jpg", :alt => "FLP Hockey Banner") %>

      </div>
      <div class="item">
        <%= image_tag("frontend/slideFoot.jpg", :alt => "FLP Football Banner") %>

      </div>
      <div class="item">
        <%= image_tag("frontend/slideSoccer.png", :alt => "FLP Soccer Banner") %>

      </div>
    </div>
    <!-- Controls -->
    <a class="left carousel-control" href="#carousel-example-generic" data-slide="prev">
      <span class="glyphicon glyphicon-chevron-left"></span>
    </a>
    <a class="right carousel-control" href="#carousel-example-generic" data-slide="next">
      <span class="glyphicon glyphicon-chevron-right"></span>
    </a>
  </div>
  <div class="ombre"></div>

  <!---End carousel  -->
  <!------Content Div ------>

  <%= yield %>



  <!------ FOOTER ----->
  <div id="footer">
    <div class="ContentFooter">
      <p class="col-md-2">
        <%= image_tag("frontend/FooterLogo.png", :alt => "FLP logo",:style=>"margin-top: -10%;width: 71%;") %>
      </p>
      <span style="color: white;position: absolute;margin: 1.5% 0% 0 -3%;"><%= @version_details %></span>
      <a id="social" class="in col-xs-1" href="http://instagram.com/fatladypools" target="_blank"></a>
      <a id="social" class="Tw col-xs-1" href="https://twitter.com/fatladypools" target="_blank"></a>
      <a  id="social" class="Fb col-xs-1" href="https://www.facebook.com/pages/Fat-Lady-Pools/265401553614050" target="_blank"></a>
      <%= link_to 'Rules', visitor_rules_path, id: 'rules'%>
      <%= link_to 'Privacy and Security Policy', visitor_privacy_path, id: 'privacyAndSecurity'%>
    </div>
  </div>
</div>

<!-- Issue collector for JIRA -->
<script type="text/javascript" src="https://appidjira.atlassian.net/s/d41d8cd98f00b204e9800998ecf8427e/en_UShy604m-1988229788/6211/25/1.4.5/_/download/batch/com.atlassian.jira.collector.plugin.jira-issue-collector-plugin:issuecollector/com.atlassian.jira.collector.plugin.jira-issue-collector-plugin:issuecollector.js?collectorId=8c505774"></script>
<% if Rails.env.production? %>
    <%= render 'layouts/ga' %>
<% end %>
</body>
<!---- Carousel Function (jquery) --->
<script>
    $('.carousel').carousel({
        interval: 2000
    });
</script>
</html>
